In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

from tqdm import tqdm

In [2]:
data = pd.read_csv('../../data/rec_sys/retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

В рекомендательных системах корректнее использовать train-test split по времени, а не случайно.

Возмём последние 3 недели в качестве теста.

In [3]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]
data_train

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2282320,222,41297772783,635,1120741,1,0.59,304,0.00,1716,91,0.0,0.0
2282321,462,41297773713,635,993339,1,1.99,304,0.00,2040,91,0.0,0.0
2282322,462,41297773713,635,995242,1,1.00,304,-0.89,2040,91,0.0,0.0
2282323,462,41297773713,635,10180324,1,3.00,304,-0.29,2040,91,0.0,0.0
2282324,462,41297773713,635,12731714,1,4.08,304,0.00,2040,91,0.0,0.0

# Оценивание
За выполнени каждого задания 1 балл

4 балла -> отл

3 балла -> хор

И тд

## Задание 0. Товар 999999
На вебинаре мы использовали товар 999999 - что это за товар?  
Зачем он нужен?  
Используя этот товар мы смещаем качество рекомендаций.
В какую сторону?   
Можно ли удалить этот товар?   
Уберите этот товар и сравните с качеством на семинаре.

**Ответ**:
- В товар 999999 мы группируем все товары, которые не вошли в топ5000 товаров.
- В датасете ~90к товаров, а item-item модели ОЧЕНЬ долго предсказывают. Поэтому для ускорения вычислений мы предсказываем только для топ5000 товаров.

**Дальнейшие ответы - ниже после расчётов.**

Попробуем удалить товар 999999 и посмотреть что из этого выйдет.

Для начала повторим все шаги вместе с товаром 999999.

In [4]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)
popularity.head(5)

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [5]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [6]:
top_5000

[6534178,
 6533889,
 6534166,
 6544236,
 1404121,
 397896,
 1426702,
 5703832,
 480014,
 5668996,
 6410462,
 420647,
 5747420,
 731106,
 5716076,
 707683,
 202291,
 1153346,
 1082185,
 5747233,
 6410464,
 545926,
 995242,
 2848087,
 1388206,
 1029743,
 5712216,
 5850988,
 1133018,
 1106523,
 1007195,
 981760,
 5845857,
 883404,
 1127831,
 2690723,
 866227,
 995785,
 860776,
 951590,
 5569230,
 908531,
 916122,
 826249,
 1098066,
 862349,
 1058997,
 1044078,
 904360,
 840361,
 923746,
 1126899,
 849843,
 961554,
 1005186,
 820165,
 1053690,
 844179,
 844165,
 1070820,
 1065593,
 834484,
 994928,
 833715,
 859075,
 1022003,
 1013321,
 938700,
 854852,
 986947,
 5569471,
 927191,
 1071939,
 1096036,
 1004906,
 986912,
 1080414,
 914190,
 908846,
 962229,
 8090521,
 1085604,
 911878,
 1092026,
 866211,
 1068719,
 878996,
 8090537,
 1081177,
 847270,
 929668,
 1024306,
 909894,
 907014,
 903325,
 910032,
 1095275,
 833025,
 862139,
 962568,
 953476,
 847982,
 999971,
 968215,
 1028816,
 976998,
 845208,
 1053763,
 1050229,
 5568378,
 1124729,
 1062966,
 965766,
 1033142,
 987562,
 930917,
 868764,
 1003600,
 857849,
 1070015,
 1101173,
 1120741,
 933835,
 899624,
 979707,
 1075368,
 822407,
 893018,
 6034857,
 1038217,
 893501,
 1006184,
 879755,
 1055863,
 1003188,
 989101,
 995965,
 9526410,
 901062,
 989075,
 913785,
 1003421,
 1029624,
 5592931,
 951526,
 1056509,
 983584,
 911812,
 1037863,
 1113588,
 1026118,
 925626,
 892008,
 916381,
 1136257,
 12810393,
 896369,
 5569845,
 1039156,
 973861,
 985999,
 1043590,
 1101010,
 1022254,
 1110572,
 824005,
 956609,
 1132763,
 1077555,
 830750,
 1055646,
 1030819,
 6533765,
 824555,
 860975,
 866950,
 1051069,
 9527290,
 940947,
 918733,
 925514,
 1118393,
 1050131,
 999858,
 5590287,
 909714,
 874972,
 1023720,
 1045220,
 987480,
 1022872,
 873627,
 976199,
 9245462,
 5569374,
 1015247,
 900491,
 871756,
 5585510,
 1114597,
 913210,
 890610,
 1033615,
 9245413,
 1050851,
 9526563,
 919644,
 845193,
 1041259,
 1056651,
 970030,
 1074405,
 832678,
 5582789,
 1127624,
 903674,
 880150,
 1119051,
 1076056,
 882441,
 1106301,
 9337581,
 911215,
 5569327,
 1048462,
 834117,
 7167218,
 1105488,
 1037840,
 1122358,
 1077490,
 1023958,
 1051516,
 913202,
 951412,
 1027569,
 976065,
 897954,
 1137688,
 1042438,
 965267,
 1040807,
 865178,
 1110843,
 6773204,
 9553031,
 8090532,
 1000753,
 885290,
 1070702,
 7440663,
 866140,
 870547,
 852864,
 856772,
 908213,
 5584027,
 990797,
 1102959,
 979746,
 999270,
 908318,
 918335,
 883932,
 969866,
 9527487,
 890695,
 1014948,
 1134522,
 879948,
 823704,
 861445,
 863447,
 870780,
 861272,
 912681,
 854405,
 949616,
 1132770,
 1057260,
 872137,
 8160319,
 892920,
 1110793,
 857503,
 5585735,
 1012873,
 1002558,
 1094955,
 1042907,
 1043751,
 987724,
 940766,
 1132771,
 12301109,
 1117514,
 1062002,
 1022981,
 1018740,
 971922,
 8011397,
 944534,
 1119879,
 976300,
 1131438,
 976955,
 862732,
 1049788,
 1077975,
 850841,
 999104,
 835098,
 1058779,
 898980,
 839419,
 1116821,
 981944,
 1020581,
 938566,
 8205218,
 883963,
 947798,
 5585635,
 952317,
 935284,
 1126310,
 972742,
 1076875,
 1128016,
 5587133,
 897125,
 907631,
 1080331,
 867188,
 1036501,
 9526886,
 916993,
 9445919,
 1036432,
 944139,
 1041796,
 1034686,
 10285144,
 995876,
 957951,
 905539,
 939578,
 883003,
 12263788,
 889774,
 1137775,
 993638,
 8065410,
 839147,
 1107553,
 5588666,
 910291,
 939636,
 9527494,
 894236,
 1051211,
 865330,
 12301100,
 900802,
 865456,
 977499,
 999134,
 933637,
 1046262,
 985119,
 833723,
 9677202,
 5584007,
 1096343,
 895540,
 949023,
 843756,
 1055283,
 5568729,
 930118,
 946995,
 825541,
 1071333,
 967395,
 970119,
 944836,
 845705,
 839849,
 821083,
 1089392,
 1061220,
 1041157,
 917494,
 1043301,
 1102949,
 926646,
 1074524,
 916767,
 1052912,
 5591038,
 870515,
 7441391,
 855468,
 853904,
 937626,
 1087102,
 1097001,
 944317,
 856252,
 1037894,
 1083721,
 852317,
 1135768,
 847789,
 1034499,
 5585727,
 910745,
 1012587,
 6602697,
 859010,
 819978,
 951197,
 936594,
 986394,
 973673,
 968417,
 1071377,
 1116578,
 896085,
 1082212,
 905913,
 898068,
 921744,
 974108,
 6463658,
 952981,
 1105623,
 1055853,
 965842,
 894511,
 1130858,
 1138443,
 926905,
 1128665,
 8090509,
 831628,
 911470,
 882305,
 1069415,
 922907,
 937571,
 1001148,
 984715,
 1138189,
 985427,
 1091365,
 879528,
 1123792,
 918368,
 919534,
 912553,
 897306,
 823758,
 1112238,
 1096317,
 1069621,
 865528,
 1115874,
 874736,
 878302,
 928049,
 1098248,
 896613,
 971165,
 9526411,
 868075,
 1009449,
 838186,
 860299,
 1013149,
 982790,
 1072523,
 1127179,
 831536,
 12302069,
 1016800,
 5995423,
 1075470,
 1029112,
 951190,
 1108168,
 9705473,
 863802,
 931671,
 1132280,
 1092948,
 823990,
 1044805,
 7024990,
 8090536,
 864774,
 1020682,
 1111072,
 1076881,
 9420312,
 915621,
 902172,
 5585639,
 848355,
 1027168,
 852856,
 913490,
 1051323,
 1072330,
 937791,
 845537,
 12301405,
 1118533,
 1075707,
 9527158,
 1022843,
 822241,
 1139830,
 885863,
 1077703,
 1022053,
 827180,
 1062128,
 8177622,
 933067,
 1118598,
 1042697,
 9571047,
 908489,
 1045515,
 866871,
 904023,
 985893,
 972569,
 1007191,
 937292,
 1054262,
 1013770,
 1135258,
 988693,
 896862,
 999779,
 1074754,
 1055504,
 5568228,
 980727,
 947068,
 896938,
 1110764,
 5578494,
 936634,
 957063,
 957736,
 873203,
 865891,
 948670,
 920308,
 13511722,
 941741,
 871611,
 9527160,
 970202,
 852486,
 910673,
 963971,
 1053875,
 1075313,
 945779,
 964327,
 819765,
 828867,
 952163,
 934639,
 6944571,
 1056746,
 905582,
 943233,
 893868,
 848015,
 972931,
 1067695,
 9835509,
 895070,
 900072,
 932006,
 982960,
 1010190,
 1128240,
 845307,
 858302,
 1133072,
 819927,
 1019744,
 5584847,
 1038663,
 1071342,
 1100972,
 1073150,
 7167249,
 837107,
 914513,
 1029968,
 7139529,
 948650,
 959985,
 1124674,
 949965,
 851057,
 9245106,
 5568489,
 1084331,
 845078,
 1100658,
 1037332,
 1011884,
 998206,
 998373,
 873178,
 942088,
 836281,
 1104343,
 1110142,
 849202,
 1079987,
 929433,
 932863,
 1033846,
 1123086,
 1022097,
 831815,
 1068292,
 1033913,
 1051305,
 9836903,
 882138,
 952254,
 1055425,
 1105917,
 1129671,
 882830,
 977545,
 842140,
 1101174,
 1025611,
 852035,
 1111839,
 1123842,
 903230,
 1011300,
 1074333,
 999714,
 989069,
 838258,
 1112473,
 5584645,
 915349,
 944137,
 1115576,
 8011282,
 1119761,
 973868,
 7168224,
 935317,
 934676,
 1005609,
 835576,
 834103,
 998444,
 1110244,
 885697,
 902167,
 919948,
 848029,
 917816,
 905868,
 869577,
 1092937,
 1081189,
 981521,
 1033220,
 968932,
 1000237,
 995896,
 993466,
 1095700,
 10121965,
 839656,
 1100410,
 12946027,
 1013928,
 898212,
 906262,
 880427,
 1022119,
 942525,
 820560,
 892531,
 965719,
 1013187,
 7440665,
 5584620,
 827683,
 8090440,
 982493,
 819255,
 844818,
 10344585,
 830887,
 838602,
 944466,
 972312,
 950557,
 959409,
 1095100,
 988791,
 1046545,
 971949,
 847344,
 1009200,
 986760,
 962274,
 5587043,
 6534480,
 1088835,
 893739,
 1039589,
 7409957,
 968072,
 8019716,
 1107289,
 1051093,
 944486,
 873654,
 5591170,
 13115493,
 1040371,
 1076571,
 865705,
 962118,
 909268,
 873874,
 850102,
 953134,
 982469,
 5585636,
 9575181,
 990656,
 921836,
 901666,
 983936,
 839094,
 1005637,
 998119,
 7025106,
 1057102,
 865303,
 897752,
 907994,
 889731,
 861279,
 5583944,
 891954,
 1037451,
 905986,
 874058,
 893400,
 1042544,
 1128647,
 960732,
 863664,
 1122568,
 945273,
 946839,
 960984,
 840601,
 835530,
 1044895,
 7025114,
 991379,
 10285141,
 12262778,
 5586642,
 873527,
 983795,
 1021116,
 878234,
 1127758,
 1108131,
 1078346,
 922127,
 828106,
 1131344,
 921504,
 965331,
 1129576,
 1111230,
 6442594,
 901403,
 1040693,
 1011645,
 848319,
 1012816,
 5586076,
 871440,
 1130777,
 932182,
 859427,
 825343,
 857006,
 890513,
 1075214,
 863337,
 904129,
 848071,
 1005274,
 934427,
 1118787,
 916990,
 961269,
 968774,
 993441,
 1043064,
 890536,
 9913338,
 861701,
 1115175,
 867519,
 1014238,
 1090017,
 846823,
 1082310,
 5580793,
 925112,
 945662,
 873964,
 1088393,
 948232,
 1139827,
 925862,
 1093359,
 872417,
 874149,
 13841744,
 871061,
 833556,
 12648296,
 1123014,
 928754,
 826385,
 1043128,
 1070214,
 6534077,
 964356,
 891141,
 873902,
 1052046,
 1056762,
 1135995,
 957013,
 1098844,
 1029504,
 823721,
 1103741,
 958252,
 1137346,
 5584808,
 1024731,
 843744,
 917033,
 989824,
 1077430,
 7410290,
 908346,
 5569135,
 5574377,
 954966,
 964968,
 8291322,
 825365,
 843306,
 932298,
 1075074,
 882288,
 5591154,
 855310,
 837270,
 934369,
 1048483,
 1088147,
 969568,
 5586942,
 870980,
 5573314,
 9416729,
 1055503,
 896444,
 922318,
 1002771,
 885023,
 9836106,
 1079228,
 5563693,
 908181,
 1135834,
 961979,
 1131550,
 5589247,
 12384365,
 1015539,
 1038985,
 819518,
 951746,
 5588238,
 958137,
 9337369,
 850058,
 863449,
 1059891,
 886703,
 872729,
 6464086,
 1085476,
 825749,
 1118012,
 1102416,
 1003441,
 879635,
 923673,
 10285149,
 901543,
 12301839,
 960318,
 12301073,
 10149640,
 997506,
 9677236,
 1120443,
 991223,
 909396,
 954642,
 1070272,
 845262,
 865174,
 12263692,
 1067606,
 970747,
 1013641,
 12811532,
 849315,
 834833,
 1103629,
 963835,
 848268,
 822785,
 921345,
 849264,
 1007136,
 847573,
 929018,
 866755,
 1076738,
 1123420,
 996070,
 948420,
 9483663,
 6534035,
 932179,
 1126252,
 1077143,
 1026346,
 6533936,
 1124695,
 1127817,
 825994,
 1014675,
 979239,
 1037337,
 880253,
 828935,
 908064,
 1123720,
 912704,
 999581,
 903233,
 902192,
 12384775,
 868423,
 845109,
 829852,
 851676,
 820122,
 995478,
 924610,
 973889,
 991951,
 ...]

In [7]:
# Заведем фиктивный item_id (если юзер НЕ покупал товары из топ-5000, то он "купил" такой товар)
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

# создаём сводную таблицу: в строках - 'user_id', в столбцах - 'item_id'.
# и считаем количество значения 'quantity'
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix

C:\Users\Alex\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2497,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2498,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# всё что больше нуля делаем единицей
user_item_matrix[user_item_matrix > 0] = 1 # так как в итоге хотим предсказать 
user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат sparse matrix. sparse matrix позволяют более эффективно хоранить разреженные данные
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Посмотрим, какими числами заданы товары. Они довольно большие.

In [9]:
np.sort(data.item_id.unique())

array([   25671,    26081,    26093, ..., 18000012, 18024155, 18024556],
      dtype=int64)

In [10]:
# перенумеруем пользователей и товары, чтобы они задавались числами от 0 до номера количества товаров.
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [11]:
# посмотрим то, как мы переименовали item_id в id
itemid_to_id

{202291: 0,
 397896: 1,
 420647: 2,
 480014: 3,
 545926: 4,
 707683: 5,
 731106: 6,
 818980: 7,
 819063: 8,
 819227: 9,
 819255: 10,
 819304: 11,
 819308: 12,
 819330: 13,
 819518: 14,
 819594: 15,
 819643: 16,
 819765: 17,
 819840: 18,
 819845: 19,
 819927: 20,
 819978: 21,
 820082: 22,
 820122: 23,
 820165: 24,
 820291: 25,
 820301: 26,
 820321: 27,
 820361: 28,
 820486: 29,
 820518: 30,
 820560: 31,
 820701: 32,
 820895: 33,
 821025: 34,
 821083: 35,
 821200: 36,
 821209: 37,
 821219: 38,
 821344: 39,
 821464: 40,
 821556: 41,
 821562: 42,
 821695: 43,
 821730: 44,
 821735: 45,
 821787: 46,
 821867: 47,
 821976: 48,
 822049: 49,
 822073: 50,
 822101: 51,
 822140: 52,
 822178: 53,
 822225: 54,
 822241: 55,
 822339: 56,
 822346: 57,
 822407: 58,
 822517: 59,
 822524: 60,
 822646: 61,
 822677: 62,
 822739: 63,
 822785: 64,
 822936: 65,
 822965: 66,
 823099: 67,
 823176: 68,
 823356: 69,
 823704: 70,
 823721: 71,
 823758: 72,
 823775: 73,
 823862: 74,
 823915: 75,
 823990: 76,
 824005: 77,
 824037: 78,
 824073: 79,
 824180: 80,
 824193: 81,
 824303: 82,
 824305: 83,
 824311: 84,
 824546: 85,
 824555: 86,
 824642: 87,
 824758: 88,
 824796: 89,
 824915: 90,
 825006: 91,
 825176: 92,
 825249: 93,
 825313: 94,
 825343: 95,
 825365: 96,
 825494: 97,
 825541: 98,
 825618: 99,
 825650: 100,
 825703: 101,
 825731: 102,
 825749: 103,
 825753: 104,
 825882: 105,
 825970: 106,
 825994: 107,
 826067: 108,
 826144: 109,
 826249: 110,
 826272: 111,
 826385: 112,
 826597: 113,
 826658: 114,
 826666: 115,
 826695: 116,
 826784: 117,
 826790: 118,
 826860: 119,
 826952: 120,
 827047: 121,
 827176: 122,
 827180: 123,
 827218: 124,
 827261: 125,
 827271: 126,
 827570: 127,
 827656: 128,
 827667: 129,
 827671: 130,
 827683: 131,
 827802: 132,
 827806: 133,
 827856: 134,
 827919: 135,
 827999: 136,
 828106: 137,
 828139: 138,
 828143: 139,
 828278: 140,
 828328: 141,
 828331: 142,
 828427: 143,
 828525: 144,
 828805: 145,
 828857: 146,
 828867: 147,
 828891: 148,
 828935: 149,
 829001: 150,
 829291: 151,
 829315: 152,
 829323: 153,
 829459: 154,
 829617: 155,
 829621: 156,
 829645: 157,
 829722: 158,
 829727: 159,
 829852: 160,
 829928: 161,
 830015: 162,
 830156: 163,
 830245: 164,
 830304: 165,
 830503: 166,
 830568: 167,
 830582: 168,
 830750: 169,
 830775: 170,
 830795: 171,
 830887: 172,
 830941: 173,
 830960: 174,
 831063: 175,
 831390: 176,
 831509: 177,
 831517: 178,
 831536: 179,
 831557: 180,
 831628: 181,
 831712: 182,
 831763: 183,
 831808: 184,
 831815: 185,
 831888: 186,
 831937: 187,
 832001: 188,
 832288: 189,
 832335: 190,
 832442: 191,
 832678: 192,
 832760: 193,
 832976: 194,
 833025: 195,
 833351: 196,
 833458: 197,
 833465: 198,
 833556: 199,
 833598: 200,
 833709: 201,
 833715: 202,
 833723: 203,
 833724: 204,
 833754: 205,
 833860: 206,
 833935: 207,
 833940: 208,
 834103: 209,
 834117: 210,
 834129: 211,
 834158: 212,
 834236: 213,
 834382: 214,
 834484: 215,
 834491: 216,
 834631: 217,
 834797: 218,
 834808: 219,
 834826: 220,
 834833: 221,
 834842: 222,
 834932: 223,
 835004: 224,
 835098: 225,
 835236: 226,
 835239: 227,
 835243: 228,
 835278: 229,
 835279: 230,
 835285: 231,
 835300: 232,
 835347: 233,
 835530: 234,
 835576: 235,
 835578: 236,
 835595: 237,
 835618: 238,
 835619: 239,
 835694: 240,
 835788: 241,
 835864: 242,
 835922: 243,
 835973: 244,
 836171: 245,
 836281: 246,
 836286: 247,
 836393: 248,
 836445: 249,
 836635: 250,
 836793: 251,
 836891: 252,
 837012: 253,
 837098: 254,
 837107: 255,
 837139: 256,
 837270: 257,
 837304: 258,
 837339: 259,
 837527: 260,
 837579: 261,
 837644: 262,
 837647: 263,
 837677: 264,
 837751: 265,
 837865: 266,
 838010: 267,
 838097: 268,
 838136: 269,
 838186: 270,
 838258: 271,
 838347: 272,
 838369: 273,
 838396: 274,
 838487: 275,
 838563: 276,
 838602: 277,
 838712: 278,
 838733: 279,
 838797: 280,
 838842: 281,
 839040: 282,
 839094: 283,
 839147: 284,
 839162: 285,
 839188: 286,
 839208: 287,
 839238: 288,
 839243: 289,
 839262: 290,
 839346: 291,
 839419: 292,
 839656: 293,
 839747: 294,
 839753: 295,
 839849: 296,
 840011: 297,
 840102: 298,
 840227: 299,
 840361: 300,
 840386: 301,
 840601: 302,
 840609: 303,
 840692: 304,
 840890: 305,
 841016: 306,
 841220: 307,
 841228: 308,
 841266: 309,
 841309: 310,
 841365: 311,
 841762: 312,
 842125: 313,
 842126: 314,
 842140: 315,
 842392: 316,
 842455: 317,
 842707: 318,
 842769: 319,
 842930: 320,
 843111: 321,
 843171: 322,
 843259: 323,
 843304: 324,
 843306: 325,
 843346: 326,
 843450: 327,
 843464: 328,
 843656: 329,
 843689: 330,
 843744: 331,
 843756: 332,
 843842: 333,
 843898: 334,
 843944: 335,
 844023: 336,
 844054: 337,
 844165: 338,
 844166: 339,
 844179: 340,
 844441: 341,
 844450: 342,
 844462: 343,
 844685: 344,
 844697: 345,
 844740: 346,
 844759: 347,
 844818: 348,
 844839: 349,
 844991: 350,
 845078: 351,
 845109: 352,
 845193: 353,
 845196: 354,
 845208: 355,
 845262: 356,
 845265: 357,
 845288: 358,
 845294: 359,
 845307: 360,
 845319: 361,
 845522: 362,
 845537: 363,
 845622: 364,
 845675: 365,
 845705: 366,
 845715: 367,
 845774: 368,
 845814: 369,
 845868: 370,
 846043: 371,
 846081: 372,
 846241: 373,
 846334: 374,
 846417: 375,
 846550: 376,
 846634: 377,
 846764: 378,
 846823: 379,
 846830: 380,
 846833: 381,
 846907: 382,
 846986: 383,
 847025: 384,
 847049: 385,
 847066: 386,
 847127: 387,
 847139: 388,
 847207: 389,
 847241: 390,
 847270: 391,
 847344: 392,
 847573: 393,
 847637: 394,
 847753: 395,
 847789: 396,
 847790: 397,
 847901: 398,
 847982: 399,
 848015: 400,
 848029: 401,
 848071: 402,
 848154: 403,
 848247: 404,
 848268: 405,
 848319: 406,
 848322: 407,
 848355: 408,
 848356: 409,
 848471: 410,
 848561: 411,
 848609: 412,
 848631: 413,
 848669: 414,
 848970: 415,
 848971: 416,
 849003: 417,
 849018: 418,
 849098: 419,
 849100: 420,
 849202: 421,
 849264: 422,
 849288: 423,
 849297: 424,
 849315: 425,
 849505: 426,
 849578: 427,
 849688: 428,
 849701: 429,
 849809: 430,
 849843: 431,
 849870: 432,
 850044: 433,
 850058: 434,
 850102: 435,
 850133: 436,
 850139: 437,
 850157: 438,
 850281: 439,
 850290: 440,
 850529: 441,
 850562: 442,
 850614: 443,
 850645: 444,
 850652: 445,
 850676: 446,
 850679: 447,
 850795: 448,
 850807: 449,
 850841: 450,
 850944: 451,
 850990: 452,
 851057: 453,
 851129: 454,
 851146: 455,
 851188: 456,
 851226: 457,
 851241: 458,
 851287: 459,
 851468: 460,
 851508: 461,
 851515: 462,
 851676: 463,
 851819: 464,
 851865: 465,
 852014: 466,
 852015: 467,
 852035: 468,
 852065: 469,
 852080: 470,
 852182: 471,
 852303: 472,
 852317: 473,
 852360: 474,
 852486: 475,
 852572: 476,
 852600: 477,
 852856: 478,
 852864: 479,
 853095: 480,
 853172: 481,
 853178: 482,
 853235: 483,
 853262: 484,
 853317: 485,
 853354: 486,
 853448: 487,
 853622: 488,
 853643: 489,
 853756: 490,
 853904: 491,
 853998: 492,
 854042: 493,
 854133: 494,
 854261: 495,
 854405: 496,
 854483: 497,
 854496: 498,
 854502: 499,
 854520: 500,
 854607: 501,
 854754: 502,
 854852: 503,
 854900: 504,
 854920: 505,
 854976: 506,
 855138: 507,
 855279: 508,
 855310: 509,
 855325: 510,
 855356: 511,
 855468: 512,
 855488: 513,
 855544: 514,
 855557: 515,
 855672: 516,
 855718: 517,
 856060: 518,
 856128: 519,
 856166: 520,
 856215: 521,
 856252: 522,
 856335: 523,
 856345: 524,
 856435: 525,
 856515: 526,
 856519: 527,
 856772: 528,
 856788: 529,
 856790: 530,
 856827: 531,
 856942: 532,
 857006: 533,
 857055: 534,
 857130: 535,
 857215: 536,
 857276: 537,
 857283: 538,
 857390: 539,
 857503: 540,
 857554: 541,
 857638: 542,
 857697: 543,
 857849: 544,
 858302: 545,
 858373: 546,
 858419: 547,
 858424: 548,
 858439: 549,
 858478: 550,
 858649: 551,
 858711: 552,
 858743: 553,
 858918: 554,
 858999: 555,
 859010: 556,
 859026: 557,
 859075: 558,
 859154: 559,
 859191: 560,
 859237: 561,
 859426: 562,
 859427: 563,
 859592: 564,
 859618: 565,
 860037: 566,
 860167: 567,
 860248: 568,
 860299: 569,
 860439: 570,
 860469: 571,
 860501: 572,
 860528: 573,
 860703: 574,
 860776: 575,
 860890: 576,
 860975: 577,
 861272: 578,
 861279: 579,
 861282: 580,
 861341: 581,
 861345: 582,
 861419: 583,
 861445: 584,
 861485: 585,
 861494: 586,
 861603: 587,
 861615: 588,
 861701: 589,
 861792: 590,
 861819: 591,
 861821: 592,
 862010: 593,
 862070: 594,
 862139: 595,
 862152: 596,
 862276: 597,
 862283: 598,
 862308: 599,
 862335: 600,
 862349: 601,
 862488: 602,
 862535: 603,
 862582: 604,
 862651: 605,
 862682: 606,
 862725: 607,
 862732: 608,
 862799: 609,
 862822: 610,
 862826: 611,
 862854: 612,
 862981: 613,
 863030: 614,
 863332: 615,
 863337: 616,
 863447: 617,
 863449: 618,
 863479: 619,
 863506: 620,
 863529: 621,
 863632: 622,
 863664: 623,
 863762: 624,
 863802: 625,
 863885: 626,
 864033: 627,
 864048: 628,
 864143: 629,
 864279: 630,
 864312: 631,
 864335: 632,
 864532: 633,
 864615: 634,
 864774: 635,
 864805: 636,
 864893: 637,
 864964: 638,
 865026: 639,
 865156: 640,
 865174: 641,
 865178: 642,
 865196: 643,
 865216: 644,
 865303: 645,
 865330: 646,
 865456: 647,
 865501: 648,
 865511: 649,
 865528: 650,
 865569: 651,
 865705: 652,
 865885: 653,
 865891: 654,
 865992: 655,
 866043: 656,
 866140: 657,
 866149: 658,
 866172: 659,
 866177: 660,
 866211: 661,
 866227: 662,
 866292: 663,
 866355: 664,
 866528: 665,
 866540: 666,
 866548: 667,
 866573: 668,
 866755: 669,
 866778: 670,
 866871: 671,
 866878: 672,
 866950: 673,
 867020: 674,
 867138: 675,
 867140: 676,
 867188: 677,
 867272: 678,
 867469: 679,
 867519: 680,
 867547: 681,
 867607: 682,
 867622: 683,
 867648: 684,
 867667: 685,
 867668: 686,
 867931: 687,
 868015: 688,
 868075: 689,
 868147: 690,
 868275: 691,
 868319: 692,
 868401: 693,
 868415: 694,
 868423: 695,
 868539: 696,
 868546: 697,
 868548: 698,
 868645: 699,
 868683: 700,
 868727: 701,
 868745: 702,
 868764: 703,
 868888: 704,
 868909: 705,
 868953: 706,
 868971: 707,
 869024: 708,
 869047: 709,
 869150: 710,
 869177: 711,
 869195: 712,
 869344: 713,
 869573: 714,
 869577: 715,
 869604: 716,
 869622: 717,
 869728: 718,
 869857: 719,
 869868: 720,
 869900: 721,
 870018: 722,
 870128: 723,
 870195: 724,
 870211: 725,
 870315: 726,
 870327: 727,
 870420: 728,
 870428: 729,
 870515: 730,
 870547: 731,
 870559: 732,
 870608: 733,
 870780: 734,
 870894: 735,
 870927: 736,
 870929: 737,
 870933: 738,
 870980: 739,
 871061: 740,
 871097: 741,
 871162: 742,
 871188: 743,
 871252: 744,
 871279: 745,
 871337: 746,
 871433: 747,
 871440: 748,
 871570: 749,
 871611: 750,
 871636: 751,
 871680: 752,
 871722: 753,
 871754: 754,
 871756: 755,
 871876: 756,
 871909: 757,
 872021: 758,
 872137: 759,
 872177: 760,
 872342: 761,
 872382: 762,
 872417: 763,
 872642: 764,
 872702: 765,
 872729: 766,
 872762: 767,
 872827: 768,
 873044: 769,
 873056: 770,
 873178: 771,
 873203: 772,
 873474: 773,
 873527: 774,
 873550: 775,
 873622: 776,
 873627: 777,
 873654: 778,
 873782: 779,
 873874: 780,
 873887: 781,
 873902: 782,
 873916: 783,
 873964: 784,
 874058: 785,
 874061: 786,
 874149: 787,
 874255: 788,
 874617: 789,
 874643: 790,
 874733: 791,
 874736: 792,
 874972: 793,
 875392: 794,
 875694: 795,
 875979: 796,
 876232: 797,
 876504: 798,
 876521: 799,
 876548: 800,
 876593: 801,
 876695: 802,
 876806: 803,
 876932: 804,
 877175: 805,
 877193: 806,
 877226: 807,
 877310: 808,
 877337: 809,
 877358: 810,
 877447: 811,
 877455: 812,
 877498: 813,
 877935: 814,
 878026: 815,
 878222: 816,
 878234: 817,
 878285: 818,
 878290: 819,
 878302: 820,
 878398: 821,
 878442: 822,
 878445: 823,
 878611: 824,
 878637: 825,
 878710: 826,
 878715: 827,
 878739: 828,
 878775: 829,
 878857: 830,
 878880: 831,
 878996: 832,
 879045: 833,
 879143: 834,
 879152: 835,
 879393: 836,
 879445: 837,
 879504: 838,
 879506: 839,
 879528: 840,
 879635: 841,
 879689: 842,
 879734: 843,
 879735: 844,
 879755: 845,
 879808: 846,
 879876: 847,
 879922: 848,
 879948: 849,
 880000: 850,
 880150: 851,
 880253: 852,
 880308: 853,
 880310: 854,
 880377: 855,
 880423: 856,
 880427: 857,
 880469: 858,
 880579: 859,
 880888: 860,
 880895: 861,
 881047: 862,
 881154: 863,
 881249: 864,
 881328: 865,
 881608: 866,
 881706: 867,
 881708: 868,
 881883: 869,
 881917: 870,
 882109: 871,
 882138: 872,
 882190: 873,
 882247: 874,
 882288: 875,
 882305: 876,
 882441: 877,
 882489: 878,
 882496: 879,
 882595: 880,
 882604: 881,
 882826: 882,
 882830: 883,
 882941: 884,
 883003: 885,
 883004: 886,
 883068: 887,
 883186: 888,
 883202: 889,
 883218: 890,
 883306: 891,
 883370: 892,
 883404: 893,
 883418: 894,
 883428: 895,
 883616: 896,
 883783: 897,
 883817: 898,
 883912: 899,
 883916: 900,
 883932: 901,
 883940: 902,
 883963: 903,
 884333: 904,
 884518: 905,
 884686: 906,
 884774: 907,
 884896: 908,
 884897: 909,
 884945: 910,
 885023: 911,
 885290: 912,
 885307: 913,
 885356: 914,
 885406: 915,
 885430: 916,
 885463: 917,
 885582: 918,
 885586: 919,
 885697: 920,
 885750: 921,
 885795: 922,
 885858: 923,
 885863: 924,
 885917: 925,
 886125: 926,
 886395: 927,
 886481: 928,
 886487: 929,
 886703: 930,
 886787: 931,
 886803: 932,
 886941: 933,
 886959: 934,
 886996: 935,
 887003: 936,
 887102: 937,
 887138: 938,
 887219: 939,
 887225: 940,
 887325: 941,
 887342: 942,
 887393: 943,
 887474: 944,
 887503: 945,
 887618: 946,
 887661: 947,
 887691: 948,
 887962: 949,
 887984: 950,
 888014: 951,
 888054: 952,
 888092: 953,
 888111: 954,
 888117: 955,
 888178: 956,
 888275: 957,
 888404: 958,
 888431: 959,
 888476: 960,
 888532: 961,
 888543: 962,
 888586: 963,
 888612: 964,
 888614: 965,
 888650: 966,
 888835: 967,
 889188: 968,
 889319: 969,
 889509: 970,
 889511: 971,
 889551: 972,
 889618: 973,
 889649: 974,
 889692: 975,
 889731: 976,
 889774: 977,
 889779: 978,
 889912: 979,
 889965: 980,
 889989: 981,
 890186: 982,
 890283: 983,
 890296: 984,
 890344: 985,
 890455: 986,
 890513: 987,
 890536: 988,
 890610: 989,
 890612: 990,
 890689: 991,
 890695: 992,
 890739: 993,
 890862: 994,
 890882: 995,
 890909: 996,
 890999: 997,
 891028: 998,
 891141: 999,
 ...}

Обучаем модель и получаем рекомендации

In [12]:
%%time

model = ItemItemRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей и количество потоков (ядер процессора)

## item-item recommender ожидает, что мы подадим в столбцах - user, в строках item. Поэтому транспонируем
model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

recs = model.recommend(userid=userid_to_id[2],  # userid - id от 0 до N
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, # кол-во рекомендаций 
                        filter_already_liked_items=False, # не рекомендуем то, что он уже покупал
                        filter_items=None, 
                        recalculate_user=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

Wall time: 811 ms

In [13]:
recs

[(2381, 78679.0),
 (3408, 72173.0),
 (2148, 57995.0),
 (3947, 17272.0),
 (3587, 14417.0)]

In [14]:
[id_to_itemid[rec[0]] for rec in recs]

[999999, 1082185, 981760, 1127831, 1098066]

Видим что наш товар 999999 вырвался вперёд.

Создадим датафрейм с покупками юзеров на тестовом датасете (последние 3 недели)

In [15]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']

# перевод numpy массива с списки - сериализация
result['actual'] = result['actual'].apply(lambda x: list(x))

result.head(10)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...
2        6  [920308, 926804, 946489, 1006718, 1017061, 107...
3        7  [840386, 889774, 898068, 909714, 929067, 95347...
4        8  [835098, 872137, 910439, 924610, 992977, 10412...
5        9  [864335, 990865, 1029743, 9297474, 10457112, 8...
6       13  [6534178, 1104146, 829197, 840361, 862070, 884...
7       14  [840601, 867293, 933067, 951590, 952408, 96569...
8       15  [910439, 1082185, 959076, 1023958, 1082310, 13...
9       16                       [1062973, 1082185, 13007710]

Рассчитываем для каждого пользователя его рекомендации и добавляем к итоговой таблице сравнений метрик.

In [16]:
%%time

result['itemitem'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

Wall time: 58 ms

In [17]:
result.head(3)

,user_id,actual,itemitem
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[999999, 1082185, 981760, 1127831, 995242]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[999999, 1082185, 981760, 1098066, 995242]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[999999, 1082185, 981760, 1127831, 995242]"

Оценим алгоритм

In [18]:
def precision_at_k(recommended_list, bought_list, k=5):
    
    bought_list = np.array(bought_list)
    #print('bought_list =', bought_list)
    recommended_list = np.array(recommended_list)
    #print('recommended_list =', recommended_list)
    
    bought_list = bought_list  # Тут нет [:k] !!
    recommended_list = recommended_list[:k]
    #print('recommended_list k =', recommended_list)
    
    flags = np.isin(bought_list, recommended_list)
    
    precision = flags.sum() / len(recommended_list)
    
    return precision

In [19]:
result.apply(lambda x: precision_at_k(x['itemitem'], x['actual'],  5), axis=1).mean()

0.13692458374142857

**Избавимся от 999999**

Перезагружаем данные

In [20]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

In [21]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head(5)

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [22]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [23]:
# Заведем фиктивный item_id (если юзер НЕ покупал товары из топ-5000, то он "купил" такой товар)
# Не производим замену товара не из top_5000 на 999999
#data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999



# создаём сводную таблицу: в строках - 'user_id', в столбцах - 'item_id'.
# и считаем количество значения 'quantity'
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix

item_id,25671,26081,26093,26190,26355,26426,26540,26601,26636,26691,...,17328742,17329473,17329749,17330255,17330511,17381856,17382205,17383227,17827644,17829232
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# всё что больше нуля делаем единицей
user_item_matrix[user_item_matrix > 0] = 1 # так как в итоге хотим предсказать 
user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат sparse matrix. sparse matrix позволяют более эффективно хоранить разреженные данные
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

item_id,25671,26081,26093,26190,26355,26426,26540,26601,26636,26691,...,17328742,17329473,17329749,17330255,17330511,17381856,17382205,17383227,17827644,17829232
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
np.sort(data.item_id.unique())

array([   25671,    26081,    26093, ..., 18000012, 18024155, 18024556],
      dtype=int64)

In [26]:
# перенумеруем пользователей и товары, чтобы они задавались числами от 0 до номера количества товаров.
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [27]:
# посмотрим то, как мы переименовали item_id в id
itemid_to_id

{25671: 0,
 26081: 1,
 26093: 2,
 26190: 3,
 26355: 4,
 26426: 5,
 26540: 6,
 26601: 7,
 26636: 8,
 26691: 9,
 26738: 10,
 26889: 11,
 26941: 12,
 27021: 13,
 27030: 14,
 27152: 15,
 27158: 16,
 27159: 17,
 27323: 18,
 27334: 19,
 27346: 20,
 27404: 21,
 27479: 22,
 27491: 23,
 27503: 24,
 27509: 25,
 27510: 26,
 27522: 27,
 27558: 28,
 27633: 29,
 27657: 30,
 27658: 31,
 27686: 32,
 27695: 33,
 27697: 34,
 27732: 35,
 27735: 36,
 27745: 37,
 27754: 38,
 27760: 39,
 27762: 40,
 27764: 41,
 27767: 42,
 27812: 43,
 27860: 44,
 27861: 45,
 27864: 46,
 27894: 47,
 27923: 48,
 27925: 49,
 27933: 50,
 27951: 51,
 27958: 52,
 27960: 53,
 27978: 54,
 28015: 55,
 28018: 56,
 28041: 57,
 28102: 58,
 28116: 59,
 28117: 60,
 28143: 61,
 28157: 62,
 28158: 63,
 28165: 64,
 28186: 65,
 28192: 66,
 28200: 67,
 28208: 68,
 28219: 69,
 28267: 70,
 28268: 71,
 28272: 72,
 28304: 73,
 28326: 74,
 28346: 75,
 28347: 76,
 28376: 77,
 28377: 78,
 28424: 79,
 28453: 80,
 28455: 81,
 28513: 82,
 28573: 83,
 28603: 84,
 28748: 85,
 28782: 86,
 28889: 87,
 28892: 88,
 28897: 89,
 28919: 90,
 28929: 91,
 28966: 92,
 29037: 93,
 29048: 94,
 29096: 95,
 29113: 96,
 29128: 97,
 29132: 98,
 29247: 99,
 29252: 100,
 29340: 101,
 29414: 102,
 29421: 103,
 29431: 104,
 29479: 105,
 29574: 106,
 29582: 107,
 29618: 108,
 29629: 109,
 29674: 110,
 29751: 111,
 29761: 112,
 29789: 113,
 29825: 114,
 29874: 115,
 29936: 116,
 29977: 117,
 29989: 118,
 29996: 119,
 30002: 120,
 30003: 121,
 30012: 122,
 30049: 123,
 30177: 124,
 30179: 125,
 30295: 126,
 30317: 127,
 30339: 128,
 30374: 129,
 30491: 130,
 30531: 131,
 30656: 132,
 30699: 133,
 30800: 134,
 30801: 135,
 30808: 136,
 30870: 137,
 30937: 138,
 30954: 139,
 30962: 140,
 31048: 141,
 31139: 142,
 31159: 143,
 31161: 144,
 31170: 145,
 31282: 146,
 31319: 147,
 31349: 148,
 31356: 149,
 31412: 150,
 31493: 151,
 31516: 152,
 31534: 153,
 31563: 154,
 31681: 155,
 31693: 156,
 31879: 157,
 31999: 158,
 32111: 159,
 32117: 160,
 32124: 161,
 32160: 162,
 32243: 163,
 32247: 164,
 32265: 165,
 32272: 166,
 32301: 167,
 32309: 168,
 32327: 169,
 32369: 170,
 32373: 171,
 32384: 172,
 32387: 173,
 32392: 174,
 32411: 175,
 32440: 176,
 32454: 177,
 32456: 178,
 32457: 179,
 32482: 180,
 32483: 181,
 32491: 182,
 32553: 183,
 32562: 184,
 32608: 185,
 32630: 186,
 32681: 187,
 32726: 188,
 32785: 189,
 32805: 190,
 32857: 191,
 32888: 192,
 32916: 193,
 32918: 194,
 32970: 195,
 33061: 196,
 33086: 197,
 33128: 198,
 33150: 199,
 33177: 200,
 33198: 201,
 33240: 202,
 33247: 203,
 33337: 204,
 33345: 205,
 33350: 206,
 33401: 207,
 33441: 208,
 33522: 209,
 33548: 210,
 33555: 211,
 33592: 212,
 33614: 213,
 33630: 214,
 33691: 215,
 33848: 216,
 33882: 217,
 33883: 218,
 33931: 219,
 33944: 220,
 33965: 221,
 34021: 222,
 34039: 223,
 34138: 224,
 34142: 225,
 34145: 226,
 34160: 227,
 34172: 228,
 34180: 229,
 34187: 230,
 34197: 231,
 34198: 232,
 34204: 233,
 34214: 234,
 34233: 235,
 34269: 236,
 34277: 237,
 34331: 238,
 34336: 239,
 34341: 240,
 34345: 241,
 34349: 242,
 34359: 243,
 34385: 244,
 34426: 245,
 34444: 246,
 34480: 247,
 34484: 248,
 34505: 249,
 34601: 250,
 34611: 251,
 34628: 252,
 34634: 253,
 34703: 254,
 34723: 255,
 34742: 256,
 34747: 257,
 34767: 258,
 34776: 259,
 34799: 260,
 34818: 261,
 34873: 262,
 34972: 263,
 34980: 264,
 34997: 265,
 34999: 266,
 35042: 267,
 35045: 268,
 35082: 269,
 35085: 270,
 35159: 271,
 35215: 272,
 35269: 273,
 35309: 274,
 35331: 275,
 35333: 276,
 35334: 277,
 35349: 278,
 35407: 279,
 35421: 280,
 35452: 281,
 35461: 282,
 35478: 283,
 35506: 284,
 35510: 285,
 35511: 286,
 35591: 287,
 35602: 288,
 35656: 289,
 35706: 290,
 35734: 291,
 35774: 292,
 35826: 293,
 35828: 294,
 35895: 295,
 35906: 296,
 35910: 297,
 35931: 298,
 36071: 299,
 36078: 300,
 36136: 301,
 36179: 302,
 36185: 303,
 36247: 304,
 36249: 305,
 36290: 306,
 36309: 307,
 36375: 308,
 36406: 309,
 36413: 310,
 36435: 311,
 36599: 312,
 36618: 313,
 36722: 314,
 36723: 315,
 36734: 316,
 36857: 317,
 36873: 318,
 36880: 319,
 36899: 320,
 36938: 321,
 36969: 322,
 37073: 323,
 37154: 324,
 37206: 325,
 37220: 326,
 37308: 327,
 37423: 328,
 37427: 329,
 37438: 330,
 37447: 331,
 37543: 332,
 37651: 333,
 37678: 334,
 37710: 335,
 37728: 336,
 37752: 337,
 37756: 338,
 37889: 339,
 37913: 340,
 37932: 341,
 38022: 342,
 38046: 343,
 38085: 344,
 38112: 345,
 38134: 346,
 38217: 347,
 38266: 348,
 38330: 349,
 38365: 350,
 38412: 351,
 38439: 352,
 38484: 353,
 38552: 354,
 38584: 355,
 38672: 356,
 38677: 357,
 38681: 358,
 38877: 359,
 38975: 360,
 39027: 361,
 39062: 362,
 39293: 363,
 39317: 364,
 39354: 365,
 39376: 366,
 39463: 367,
 39505: 368,
 39533: 369,
 39591: 370,
 39592: 371,
 39612: 372,
 39613: 373,
 39661: 374,
 39665: 375,
 39686: 376,
 39721: 377,
 39839: 378,
 39897: 379,
 39992: 380,
 40023: 381,
 40040: 382,
 40057: 383,
 40067: 384,
 40146: 385,
 40165: 386,
 40178: 387,
 40317: 388,
 40349: 389,
 40382: 390,
 40394: 391,
 40439: 392,
 40440: 393,
 40473: 394,
 40476: 395,
 40479: 396,
 40488: 397,
 40504: 398,
 40576: 399,
 40614: 400,
 40645: 401,
 40650: 402,
 40655: 403,
 40698: 404,
 40722: 405,
 40751: 406,
 40843: 407,
 40868: 408,
 40885: 409,
 40914: 410,
 40938: 411,
 40950: 412,
 40979: 413,
 41008: 414,
 41015: 415,
 41019: 416,
 41044: 417,
 41058: 418,
 41071: 419,
 41128: 420,
 41148: 421,
 41149: 422,
 41156: 423,
 41174: 424,
 41258: 425,
 41332: 426,
 41354: 427,
 41363: 428,
 41376: 429,
 41394: 430,
 41410: 431,
 41475: 432,
 41477: 433,
 41481: 434,
 41528: 435,
 41580: 436,
 41590: 437,
 41641: 438,
 41652: 439,
 41688: 440,
 41708: 441,
 41727: 442,
 41741: 443,
 41743: 444,
 41744: 445,
 41777: 446,
 41780: 447,
 41783: 448,
 41794: 449,
 41850: 450,
 41871: 451,
 41875: 452,
 41880: 453,
 41919: 454,
 41927: 455,
 41940: 456,
 41976: 457,
 41978: 458,
 41979: 459,
 42020: 460,
 42100: 461,
 42102: 462,
 42111: 463,
 42140: 464,
 42143: 465,
 42150: 466,
 42197: 467,
 42237: 468,
 42319: 469,
 42346: 470,
 42385: 471,
 42388: 472,
 42408: 473,
 42465: 474,
 42478: 475,
 42518: 476,
 42521: 477,
 42536: 478,
 42579: 479,
 42636: 480,
 42642: 481,
 42659: 482,
 42660: 483,
 42669: 484,
 42687: 485,
 42720: 486,
 42721: 487,
 42722: 488,
 42758: 489,
 42762: 490,
 42765: 491,
 42784: 492,
 42832: 493,
 42852: 494,
 42896: 495,
 42983: 496,
 42989: 497,
 43019: 498,
 43020: 499,
 43065: 500,
 43094: 501,
 43106: 502,
 43113: 503,
 43122: 504,
 43143: 505,
 43189: 506,
 43210: 507,
 43256: 508,
 43266: 509,
 43269: 510,
 43271: 511,
 43296: 512,
 43361: 513,
 43371: 514,
 43392: 515,
 43395: 516,
 43411: 517,
 43421: 518,
 43539: 519,
 43543: 520,
 43570: 521,
 43576: 522,
 43611: 523,
 43616: 524,
 43637: 525,
 43645: 526,
 43676: 527,
 43677: 528,
 43713: 529,
 43721: 530,
 43737: 531,
 43759: 532,
 43803: 533,
 43814: 534,
 43821: 535,
 43823: 536,
 43848: 537,
 43868: 538,
 43869: 539,
 43871: 540,
 43907: 541,
 43919: 542,
 43940: 543,
 43950: 544,
 43974: 545,
 43995: 546,
 44004: 547,
 44011: 548,
 44030: 549,
 44032: 550,
 44039: 551,
 44042: 552,
 44062: 553,
 44067: 554,
 44123: 555,
 44161: 556,
 44186: 557,
 44233: 558,
 44277: 559,
 44357: 560,
 44371: 561,
 44426: 562,
 44433: 563,
 44444: 564,
 44481: 565,
 44506: 566,
 44515: 567,
 44522: 568,
 44531: 569,
 44539: 570,
 44542: 571,
 44562: 572,
 44593: 573,
 44596: 574,
 44599: 575,
 44657: 576,
 44661: 577,
 44679: 578,
 44683: 579,
 44704: 580,
 44730: 581,
 44752: 582,
 44802: 583,
 45000: 584,
 45008: 585,
 45016: 586,
 45033: 587,
 45077: 588,
 45105: 589,
 45115: 590,
 45161: 591,
 45164: 592,
 45217: 593,
 45218: 594,
 45225: 595,
 45236: 596,
 45240: 597,
 45243: 598,
 45277: 599,
 45301: 600,
 45306: 601,
 45308: 602,
 45334: 603,
 45339: 604,
 45364: 605,
 45365: 606,
 45372: 607,
 45379: 608,
 45400: 609,
 45465: 610,
 45478: 611,
 45497: 612,
 45507: 613,
 45518: 614,
 45559: 615,
 45602: 616,
 45607: 617,
 45629: 618,
 45661: 619,
 45671: 620,
 45680: 621,
 45695: 622,
 45701: 623,
 45753: 624,
 45800: 625,
 45830: 626,
 45831: 627,
 45871: 628,
 45878: 629,
 45907: 630,
 45957: 631,
 45971: 632,
 45977: 633,
 45990: 634,
 45999: 635,
 46041: 636,
 46058: 637,
 46102: 638,
 46111: 639,
 46118: 640,
 46119: 641,
 46154: 642,
 46184: 643,
 46191: 644,
 46252: 645,
 46272: 646,
 46298: 647,
 46300: 648,
 46310: 649,
 46311: 650,
 46340: 651,
 46352: 652,
 46370: 653,
 46392: 654,
 46427: 655,
 46533: 656,
 46545: 657,
 46563: 658,
 46595: 659,
 46663: 660,
 46764: 661,
 46872: 662,
 46884: 663,
 46901: 664,
 46916: 665,
 46957: 666,
 46975: 667,
 46996: 668,
 47170: 669,
 47184: 670,
 47200: 671,
 47237: 672,
 47272: 673,
 47302: 674,
 47327: 675,
 47343: 676,
 47425: 677,
 47456: 678,
 47467: 679,
 47501: 680,
 47568: 681,
 47725: 682,
 47740: 683,
 47792: 684,
 47805: 685,
 47813: 686,
 47833: 687,
 47857: 688,
 47959: 689,
 47963: 690,
 47989: 691,
 47996: 692,
 48021: 693,
 48023: 694,
 48065: 695,
 48081: 696,
 48169: 697,
 48203: 698,
 48425: 699,
 48441: 700,
 48451: 701,
 48503: 702,
 48544: 703,
 48571: 704,
 48575: 705,
 48587: 706,
 48593: 707,
 48606: 708,
 48682: 709,
 48683: 710,
 48689: 711,
 48728: 712,
 48810: 713,
 48830: 714,
 48840: 715,
 48893: 716,
 48936: 717,
 48955: 718,
 48980: 719,
 49058: 720,
 49069: 721,
 49108: 722,
 49137: 723,
 49146: 724,
 49165: 725,
 49212: 726,
 49213: 727,
 49278: 728,
 49284: 729,
 49303: 730,
 49304: 731,
 49411: 732,
 49442: 733,
 49445: 734,
 49458: 735,
 49459: 736,
 49486: 737,
 49571: 738,
 49573: 739,
 49598: 740,
 49628: 741,
 49650: 742,
 49659: 743,
 49748: 744,
 49812: 745,
 49853: 746,
 49875: 747,
 49910: 748,
 49927: 749,
 49930: 750,
 49949: 751,
 49966: 752,
 49969: 753,
 50002: 754,
 50024: 755,
 50032: 756,
 50140: 757,
 50150: 758,
 50205: 759,
 50233: 760,
 50242: 761,
 50297: 762,
 50314: 763,
 50350: 764,
 50364: 765,
 50433: 766,
 50450: 767,
 50455: 768,
 50496: 769,
 50499: 770,
 50509: 771,
 50526: 772,
 50553: 773,
 50611: 774,
 50641: 775,
 50658: 776,
 50776: 777,
 50828: 778,
 50905: 779,
 50931: 780,
 51075: 781,
 51091: 782,
 51129: 783,
 51151: 784,
 51177: 785,
 51202: 786,
 51220: 787,
 51226: 788,
 51250: 789,
 51255: 790,
 51277: 791,
 51336: 792,
 51403: 793,
 51474: 794,
 51478: 795,
 51552: 796,
 51558: 797,
 51604: 798,
 51640: 799,
 51703: 800,
 51716: 801,
 51766: 802,
 51832: 803,
 51863: 804,
 51895: 805,
 51913: 806,
 51930: 807,
 52028: 808,
 52069: 809,
 52193: 810,
 52240: 811,
 52265: 812,
 52318: 813,
 52368: 814,
 52383: 815,
 52402: 816,
 52430: 817,
 52433: 818,
 52448: 819,
 52467: 820,
 52492: 821,
 52548: 822,
 52554: 823,
 52567: 824,
 52614: 825,
 52615: 826,
 52633: 827,
 52641: 828,
 52673: 829,
 52674: 830,
 52686: 831,
 52702: 832,
 52747: 833,
 52786: 834,
 52856: 835,
 52876: 836,
 52936: 837,
 53045: 838,
 53058: 839,
 53070: 840,
 53083: 841,
 53130: 842,
 53337: 843,
 53416: 844,
 53426: 845,
 53499: 846,
 53503: 847,
 53516: 848,
 53620: 849,
 53644: 850,
 53667: 851,
 53720: 852,
 53788: 853,
 53854: 854,
 53961: 855,
 53979: 856,
 54001: 857,
 54048: 858,
 54124: 859,
 54137: 860,
 54194: 861,
 54243: 862,
 54283: 863,
 54284: 864,
 54411: 865,
 54421: 866,
 54450: 867,
 54460: 868,
 54492: 869,
 54553: 870,
 54705: 871,
 54706: 872,
 54776: 873,
 54815: 874,
 54886: 875,
 54941: 876,
 54953: 877,
 54954: 878,
 55021: 879,
 55035: 880,
 55071: 881,
 55080: 882,
 55106: 883,
 55143: 884,
 55148: 885,
 55201: 886,
 55279: 887,
 55319: 888,
 55375: 889,
 55409: 890,
 55584: 891,
 55706: 892,
 55713: 893,
 55739: 894,
 55876: 895,
 56052: 896,
 56098: 897,
 56136: 898,
 56162: 899,
 56235: 900,
 56240: 901,
 56250: 902,
 56293: 903,
 56341: 904,
 56374: 905,
 56634: 906,
 56635: 907,
 56674: 908,
 56918: 909,
 57059: 910,
 57061: 911,
 57130: 912,
 57157: 913,
 57204: 914,
 57212: 915,
 57240: 916,
 57313: 917,
 57314: 918,
 57390: 919,
 57416: 920,
 57462: 921,
 57554: 922,
 57570: 923,
 57687: 924,
 57707: 925,
 57708: 926,
 57792: 927,
 57828: 928,
 57901: 929,
 57910: 930,
 58128: 931,
 58253: 932,
 58533: 933,
 58550: 934,
 58561: 935,
 58612: 936,
 58648: 937,
 58673: 938,
 58712: 939,
 58782: 940,
 58818: 941,
 58826: 942,
 58829: 943,
 58844: 944,
 58868: 945,
 59065: 946,
 59073: 947,
 59302: 948,
 59305: 949,
 59361: 950,
 59433: 951,
 59510: 952,
 59582: 953,
 59658: 954,
 59666: 955,
 59668: 956,
 59693: 957,
 59829: 958,
 59878: 959,
 59911: 960,
 59994: 961,
 60116: 962,
 60131: 963,
 60141: 964,
 60152: 965,
 60165: 966,
 60291: 967,
 60377: 968,
 60385: 969,
 60462: 970,
 60466: 971,
 60480: 972,
 60496: 973,
 60499: 974,
 60570: 975,
 60637: 976,
 60670: 977,
 60754: 978,
 60767: 979,
 60776: 980,
 60800: 981,
 60867: 982,
 60879: 983,
 60890: 984,
 60924: 985,
 60997: 986,
 61000: 987,
 61079: 988,
 61117: 989,
 61169: 990,
 61220: 991,
 61239: 992,
 61385: 993,
 61398: 994,
 61429: 995,
 61449: 996,
 61481: 997,
 61509: 998,
 61607: 999,
 ...}

In [28]:
%%time

model = ItemItemRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей и количество потоков (ядер процессора)

## item-item recommender ожидает, что мы подадим в столбцах - user, в строках item. Поэтому транспонируем
model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

recs = model.recommend(userid=userid_to_id[2],  # userid - id от 0 до N
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, # кол-во рекомендаций 
                        filter_already_liked_items=False, # не рекомендуем то, что он уже покупал
                        filter_items=None, 
                        recalculate_user=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=86865.0), HTML(value='')))

Wall time: 16.7 s

In [29]:
[id_to_itemid[rec[0]] for rec in recs]

[1082185, 981760, 1098066, 1127831, 995242]

Рассчитываем для каждого пользователя его рекомендации и добавляем к итоговой таблице сравнений метрик.

In [30]:
%%time

result['itemitem without 9999999'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

Wall time: 209 ms

Оценим алгоритм без 999999

In [31]:
result.apply(lambda x: precision_at_k(x['itemitem without 9999999'], x['actual'],  5), axis=1).mean()

0.15406464250734386

**Используя этот товар мы смещаем качество рекомендаций. В какую сторону?**

Мы смещаем качество рекомендаций в худшую сторону.

**Можно ли удалить этот товар?**

Да.

**Уберите этот товар и сравните с качеством на семинаре**

Precision алгоритма с товаром 999999 составил 0.1369. Без этого товара 0.1541. Качество упало на 1.7%

## Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. вес = log(sales_sum товара)
- Придумайте пример 3 весов, посчитайте weighted_random_recommendation для разных весов

Создадим датафрейм с покупками юзеров на тестовом датасете (последние 3 недели)

In [32]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']

# перевод numpy массива с списки - сериализация
result['actual'] = result['actual'].apply(lambda x: list(x))

result.head(10)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...
2        6  [920308, 926804, 946489, 1006718, 1017061, 107...
3        7  [840386, 889774, 898068, 909714, 929067, 95347...
4        8  [835098, 872137, 910439, 924610, 992977, 10412...
5        9  [864335, 990865, 1029743, 9297474, 10457112, 8...
6       13  [6534178, 1104146, 829197, 840361, 862070, 884...
7       14  [840601, 867293, 933067, 951590, 952408, 96569...
8       15  [910439, 1082185, 959076, 1023958, 1082310, 13...
9       16                       [1062973, 1082185, 13007710]

Проверяем не появились ли в тестовом датасете новые пользователи. В этом случае не совпаёт количество строк. Проблема холодного старта.

In [33]:
test_users = result.shape[0]
new_test_users = len(set(data_test['user_id']) - set(data_train['user_id']))

print('В тестовом дата сете {} юзеров'.format(test_users))
print('В тестовом дата сете {} новых юзеров'.format(new_test_users))

В тестовом дата сете 2042 юзеров
В тестовом дата сете 0 новых юзеров

Предскажем случайные рекомендации

In [34]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""

    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [35]:
%%time

items = data_train.item_id.unique()
print(items)

# создаём столбец рекомендаций: для каждой строчки user_id создаём случайные рекомендации
result['rand rec'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(5)

[ 1004906  1033142  1036325 ... 15722756 17170636 15716393]
Wall time: 4.54 s

,user_id,actual,rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[958826, 824399, 98098, 15783020, 15660208]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[13512876, 713618, 944068, 15926456, 13215961]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[1669677, 1119563, 877368, 851150, 15630089]"
3,7,"[840386, 889774, 898068, 909714, 929067, 95347...","[12604783, 17291554, 12263551, 9188792, 1008610]"
4,8,"[835098, 872137, 910439, 924610, 992977, 10412...","[1077827, 1767023, 1525303, 1055294, 830593]"

In [36]:
# Проверяем сколько рекомендованных товаров входят в список актуальных товаров
hit_rate = 0
for i in range(result.shape[0]):
    flags = np.isin(result.loc[i,'actual'], result.loc[i,'rand rec'])
    hit_rate += (flags.sum() > 0).astype(int)
hit_rate

11

In [37]:
def weighted_random_recommendation(items, p, n=5):
    """Случайные рекоммендации
    Input
    -----
    items_weights: pd.DataFrame
        Датафрейм со столбцами item_id, weight. Сумма weight по всем товарам = 1
    """
    # Подсказка: необходимо модифицировать функцию random_recommendation()
    # your_code
    
    recs = np.random.choice(items, size=n, replace=False, p=p)
    
    return recs.tolist()

In [38]:
# функция для генерации items и массива вероятностей
def data_prep(df, func):
    # создаём список уникальных товаров
    items = df.item_id.unique()
    # print('items 1 = ', items, items.size)

    # переводим в np массив
    items = np.array(items)

    # создаём датафрейм с количеством каждого товара
    count_df = df.groupby('item_id').item_id.agg(['count'])

    # добавляем в датафрейм строчку с пересчитанными товарами в веса
    count_df['weight'] = func(count_df['count'] / count_df['count'].sum())
    # print(count_df.size)

    # перводим items в датафрейм (сохраняем порядок item'ов)
    items_df = pd.DataFrame(items, columns = ['item_id'])
    # print('items_df = ', items_df)

    # создаём датафрейм item - вероятность с сохранением порядка item'ов
    probability_df = pd.merge(items_df, count_df, on='item_id', how='left')

    # заполняем пустые item's нулями
    probability_df.fillna(value=0, inplace=True)
    # print('probability_df = ', probability_df, probability_df.size)

    # берём столбец вероятностей и переводим его в numpy-array
    p = np.array(probability_df.to_numpy()[:, 2])

    # нормализация вероятностей для того чтобы они  были = 1
    p /= p.sum()  # normalize
    
    return items, p

Предсказания

In [39]:
%%time

# ВЕСА - ЛОГАРИФМ от количества покупок
items, p = data_prep(data_train, np.log)

# создаём столбец рекомендаций: для каждой строчки user_id создаём случайные рекомендации
result['weighted log rand rec'] = \
        result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

result.head(3)

Wall time: 3.69 s

,user_id,actual,rand rec,weighted log rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[958826, 824399, 98098, 15783020, 15660208]","[9525357, 1253602, 946707, 878651, 6537551]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[13512876, 713618, 944068, 15926456, 13215961]","[6961668, 2846160, 5567328, 66469, 1051542]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[1669677, 1119563, 877368, 851150, 15630089]","[904943, 6555362, 956294, 2022364, 822818]"

In [40]:
%%time

# ВЕСА - КВАДРАТНЫЙ КОРЕНЬ от количества покупок
items, p = data_prep(data_train, np.sqrt)

# создаём столбец рекомендаций: для каждой строчки user_id создаём случайные рекомендации
result['weighted sqrt rand rec'] = \
            result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

result.head(2)

Wall time: 3.35 s

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[958826, 824399, 98098, 15783020, 15660208]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[13512876, 713618, 944068, 15926456, 13215961]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]"

In [41]:
%%time

# your_code

# ВЕСА - КВАДРАТ от количества покупок
items, p = data_prep(data_train, np.square)

# создаём столбец рекомендаций: для каждой строчки user_id создаём случайные рекомендации
result['weighted square rand rec'] = \
            result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

result.head(2)

Wall time: 4.16 s

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[958826, 824399, 98098, 15783020, 15660208]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[13512876, 713618, 944068, 15926456, 13215961]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]"

## Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма (с вебинара и weighted_random_recommendation) с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество? Почему?

Добавим расчёты по алгоритмам из вебинара

In [42]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""

    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [43]:
%%time

items = data_train.item_id.unique()

# создаём столбец рекомендаций: для каждой строчки user_id создаём случайные рекомендации
result['rand rec'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(3)

Wall time: 4.31 s

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[35511, 984861, 8068454, 17169697, 1318175]","[904943, 6555362, 956294, 2022364, 822818]","[908368, 920755, 901067, 1130029, 1224424]","[879755, 1053690, 1106523, 1082185, 1004906]"

In [44]:
def popularity_recommendation(data, n=5):
    """Топ-n популярных товаров"""
    
    popular = data.groupby('item_id')['sales_value'].sum().reset_index()
    popular.sort_values('sales_value', ascending=False, inplace=True)
    
    recs = popular.head(n).item_id
    
    return recs.tolist()

In [45]:
%%time

# Можно так делать, так как рекомендация не зависит от юзера
popular_recs = popularity_recommendation(data_train, n=5)

result['popular rec'] = result['user_id'].apply(lambda x: popular_recs)
result.head(3)

Wall time: 143 ms

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[35511, 984861, 8068454, 17169697, 1318175]","[904943, 6555362, 956294, 2022364, 822818]","[908368, 920755, 901067, 1130029, 1224424]","[879755, 1053690, 1106523, 1082185, 1004906]","[6534178, 6533889, 1029743, 6534166, 1082185]"

### Item-Item Recommender / ItemKNN

In [46]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [47]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [48]:
# Заведем фиктивный item_id (если юзер НЕ покупал товары из топ-5000, то он "купил" такой товар)
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

# создаём сводную таблицу: в строках - 'user_id', в столбцах - 'item_id'.
# и считаем количество значения 'quantity'
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix

C:\Users\Alex\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2497,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2498,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
# всё что больше нуля делаем единицей
user_item_matrix[user_item_matrix > 0] = 1 # так как в итоге хотим предсказать 
user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат sparse matrix. sparse matrix позволяют более эффективно хоранить разреженные данные
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Посчитаем плотность заполненных ячеек до:

In [50]:
users, items, interactions = data.user_id.nunique(), data.item_id.nunique(), data.shape[0]

print('# users: ', users)
print('# items: ', items)
print('# interactions: ', interactions)

# users:  2499
# items:  89051
# interactions:  2396804

In [51]:
interactions / (users*items)

0.010770291654185115

Посчитаем плотность заполненных ячеек после:

In [52]:
user_item_matrix.sum().sum() / (user_item_matrix.shape[0] * user_item_matrix.shape[1]) * 100

5.33770796861036

Она увеличилась в 5 раз: был 1% заполненных ячеек, стало 5%.

Посмотрим, какими числами заданы товары. Они довольно большие.

In [53]:
np.sort(data.item_id.unique())

array([   25671,    26081,    26093, ..., 18000012, 18024155, 18024556],
      dtype=int64)

In [54]:
# перенумеруем пользователей и товары, чтобы они задавались числами от 0 до номера количества товаров.
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [55]:
# посмотрим то, как мы переименовали item_id в id
itemid_to_id

{202291: 0,
 397896: 1,
 420647: 2,
 480014: 3,
 545926: 4,
 707683: 5,
 731106: 6,
 818980: 7,
 819063: 8,
 819227: 9,
 819255: 10,
 819304: 11,
 819308: 12,
 819330: 13,
 819518: 14,
 819594: 15,
 819643: 16,
 819765: 17,
 819840: 18,
 819845: 19,
 819927: 20,
 819978: 21,
 820082: 22,
 820122: 23,
 820165: 24,
 820291: 25,
 820301: 26,
 820321: 27,
 820361: 28,
 820486: 29,
 820518: 30,
 820560: 31,
 820701: 32,
 820895: 33,
 821025: 34,
 821083: 35,
 821200: 36,
 821209: 37,
 821219: 38,
 821344: 39,
 821464: 40,
 821556: 41,
 821562: 42,
 821695: 43,
 821730: 44,
 821735: 45,
 821787: 46,
 821867: 47,
 821976: 48,
 822049: 49,
 822073: 50,
 822101: 51,
 822140: 52,
 822178: 53,
 822225: 54,
 822241: 55,
 822339: 56,
 822346: 57,
 822407: 58,
 822517: 59,
 822524: 60,
 822646: 61,
 822677: 62,
 822739: 63,
 822785: 64,
 822936: 65,
 822965: 66,
 823099: 67,
 823176: 68,
 823356: 69,
 823704: 70,
 823721: 71,
 823758: 72,
 823775: 73,
 823862: 74,
 823915: 75,
 823990: 76,
 824005: 77,
 824037: 78,
 824073: 79,
 824180: 80,
 824193: 81,
 824303: 82,
 824305: 83,
 824311: 84,
 824546: 85,
 824555: 86,
 824642: 87,
 824758: 88,
 824796: 89,
 824915: 90,
 825006: 91,
 825176: 92,
 825249: 93,
 825313: 94,
 825343: 95,
 825365: 96,
 825494: 97,
 825541: 98,
 825618: 99,
 825650: 100,
 825703: 101,
 825731: 102,
 825749: 103,
 825753: 104,
 825882: 105,
 825970: 106,
 825994: 107,
 826067: 108,
 826144: 109,
 826249: 110,
 826272: 111,
 826385: 112,
 826597: 113,
 826658: 114,
 826666: 115,
 826695: 116,
 826784: 117,
 826790: 118,
 826860: 119,
 826952: 120,
 827047: 121,
 827176: 122,
 827180: 123,
 827218: 124,
 827261: 125,
 827271: 126,
 827570: 127,
 827656: 128,
 827667: 129,
 827671: 130,
 827683: 131,
 827802: 132,
 827806: 133,
 827856: 134,
 827919: 135,
 827999: 136,
 828106: 137,
 828139: 138,
 828143: 139,
 828278: 140,
 828328: 141,
 828331: 142,
 828427: 143,
 828525: 144,
 828805: 145,
 828857: 146,
 828867: 147,
 828891: 148,
 828935: 149,
 829001: 150,
 829291: 151,
 829315: 152,
 829323: 153,
 829459: 154,
 829617: 155,
 829621: 156,
 829645: 157,
 829722: 158,
 829727: 159,
 829852: 160,
 829928: 161,
 830015: 162,
 830156: 163,
 830245: 164,
 830304: 165,
 830503: 166,
 830568: 167,
 830582: 168,
 830750: 169,
 830775: 170,
 830795: 171,
 830887: 172,
 830941: 173,
 830960: 174,
 831063: 175,
 831390: 176,
 831509: 177,
 831517: 178,
 831536: 179,
 831557: 180,
 831628: 181,
 831712: 182,
 831763: 183,
 831808: 184,
 831815: 185,
 831888: 186,
 831937: 187,
 832001: 188,
 832288: 189,
 832335: 190,
 832442: 191,
 832678: 192,
 832760: 193,
 832976: 194,
 833025: 195,
 833351: 196,
 833458: 197,
 833465: 198,
 833556: 199,
 833598: 200,
 833709: 201,
 833715: 202,
 833723: 203,
 833724: 204,
 833754: 205,
 833860: 206,
 833935: 207,
 833940: 208,
 834103: 209,
 834117: 210,
 834129: 211,
 834158: 212,
 834236: 213,
 834382: 214,
 834484: 215,
 834491: 216,
 834631: 217,
 834797: 218,
 834808: 219,
 834826: 220,
 834833: 221,
 834842: 222,
 834932: 223,
 835004: 224,
 835098: 225,
 835236: 226,
 835239: 227,
 835243: 228,
 835278: 229,
 835279: 230,
 835285: 231,
 835300: 232,
 835347: 233,
 835530: 234,
 835576: 235,
 835578: 236,
 835595: 237,
 835618: 238,
 835619: 239,
 835694: 240,
 835788: 241,
 835864: 242,
 835922: 243,
 835973: 244,
 836171: 245,
 836281: 246,
 836286: 247,
 836393: 248,
 836445: 249,
 836635: 250,
 836793: 251,
 836891: 252,
 837012: 253,
 837098: 254,
 837107: 255,
 837139: 256,
 837270: 257,
 837304: 258,
 837339: 259,
 837527: 260,
 837579: 261,
 837644: 262,
 837647: 263,
 837677: 264,
 837751: 265,
 837865: 266,
 838010: 267,
 838097: 268,
 838136: 269,
 838186: 270,
 838258: 271,
 838347: 272,
 838369: 273,
 838396: 274,
 838487: 275,
 838563: 276,
 838602: 277,
 838712: 278,
 838733: 279,
 838797: 280,
 838842: 281,
 839040: 282,
 839094: 283,
 839147: 284,
 839162: 285,
 839188: 286,
 839208: 287,
 839238: 288,
 839243: 289,
 839262: 290,
 839346: 291,
 839419: 292,
 839656: 293,
 839747: 294,
 839753: 295,
 839849: 296,
 840011: 297,
 840102: 298,
 840227: 299,
 840361: 300,
 840386: 301,
 840601: 302,
 840609: 303,
 840692: 304,
 840890: 305,
 841016: 306,
 841220: 307,
 841228: 308,
 841266: 309,
 841309: 310,
 841365: 311,
 841762: 312,
 842125: 313,
 842126: 314,
 842140: 315,
 842392: 316,
 842455: 317,
 842707: 318,
 842769: 319,
 842930: 320,
 843111: 321,
 843171: 322,
 843259: 323,
 843304: 324,
 843306: 325,
 843346: 326,
 843450: 327,
 843464: 328,
 843656: 329,
 843689: 330,
 843744: 331,
 843756: 332,
 843842: 333,
 843898: 334,
 843944: 335,
 844023: 336,
 844054: 337,
 844165: 338,
 844166: 339,
 844179: 340,
 844441: 341,
 844450: 342,
 844462: 343,
 844685: 344,
 844697: 345,
 844740: 346,
 844759: 347,
 844818: 348,
 844839: 349,
 844991: 350,
 845078: 351,
 845109: 352,
 845193: 353,
 845196: 354,
 845208: 355,
 845262: 356,
 845265: 357,
 845288: 358,
 845294: 359,
 845307: 360,
 845319: 361,
 845522: 362,
 845537: 363,
 845622: 364,
 845675: 365,
 845705: 366,
 845715: 367,
 845774: 368,
 845814: 369,
 845868: 370,
 846043: 371,
 846081: 372,
 846241: 373,
 846334: 374,
 846417: 375,
 846550: 376,
 846634: 377,
 846764: 378,
 846823: 379,
 846830: 380,
 846833: 381,
 846907: 382,
 846986: 383,
 847025: 384,
 847049: 385,
 847066: 386,
 847127: 387,
 847139: 388,
 847207: 389,
 847241: 390,
 847270: 391,
 847344: 392,
 847573: 393,
 847637: 394,
 847753: 395,
 847789: 396,
 847790: 397,
 847901: 398,
 847982: 399,
 848015: 400,
 848029: 401,
 848071: 402,
 848154: 403,
 848247: 404,
 848268: 405,
 848319: 406,
 848322: 407,
 848355: 408,
 848356: 409,
 848471: 410,
 848561: 411,
 848609: 412,
 848631: 413,
 848669: 414,
 848970: 415,
 848971: 416,
 849003: 417,
 849018: 418,
 849098: 419,
 849100: 420,
 849202: 421,
 849264: 422,
 849288: 423,
 849297: 424,
 849315: 425,
 849505: 426,
 849578: 427,
 849688: 428,
 849701: 429,
 849809: 430,
 849843: 431,
 849870: 432,
 850044: 433,
 850058: 434,
 850102: 435,
 850133: 436,
 850139: 437,
 850157: 438,
 850281: 439,
 850290: 440,
 850529: 441,
 850562: 442,
 850614: 443,
 850645: 444,
 850652: 445,
 850676: 446,
 850679: 447,
 850795: 448,
 850807: 449,
 850841: 450,
 850944: 451,
 850990: 452,
 851057: 453,
 851129: 454,
 851146: 455,
 851188: 456,
 851226: 457,
 851241: 458,
 851287: 459,
 851468: 460,
 851508: 461,
 851515: 462,
 851676: 463,
 851819: 464,
 851865: 465,
 852014: 466,
 852015: 467,
 852035: 468,
 852065: 469,
 852080: 470,
 852182: 471,
 852303: 472,
 852317: 473,
 852360: 474,
 852486: 475,
 852572: 476,
 852600: 477,
 852856: 478,
 852864: 479,
 853095: 480,
 853172: 481,
 853178: 482,
 853235: 483,
 853262: 484,
 853317: 485,
 853354: 486,
 853448: 487,
 853622: 488,
 853643: 489,
 853756: 490,
 853904: 491,
 853998: 492,
 854042: 493,
 854133: 494,
 854261: 495,
 854405: 496,
 854483: 497,
 854496: 498,
 854502: 499,
 854520: 500,
 854607: 501,
 854754: 502,
 854852: 503,
 854900: 504,
 854920: 505,
 854976: 506,
 855138: 507,
 855279: 508,
 855310: 509,
 855325: 510,
 855356: 511,
 855468: 512,
 855488: 513,
 855544: 514,
 855557: 515,
 855672: 516,
 855718: 517,
 856060: 518,
 856128: 519,
 856166: 520,
 856215: 521,
 856252: 522,
 856335: 523,
 856345: 524,
 856435: 525,
 856515: 526,
 856519: 527,
 856772: 528,
 856788: 529,
 856790: 530,
 856827: 531,
 856942: 532,
 857006: 533,
 857055: 534,
 857130: 535,
 857215: 536,
 857276: 537,
 857283: 538,
 857390: 539,
 857503: 540,
 857554: 541,
 857638: 542,
 857697: 543,
 857849: 544,
 858302: 545,
 858373: 546,
 858419: 547,
 858424: 548,
 858439: 549,
 858478: 550,
 858649: 551,
 858711: 552,
 858743: 553,
 858918: 554,
 858999: 555,
 859010: 556,
 859026: 557,
 859075: 558,
 859154: 559,
 859191: 560,
 859237: 561,
 859426: 562,
 859427: 563,
 859592: 564,
 859618: 565,
 860037: 566,
 860167: 567,
 860248: 568,
 860299: 569,
 860439: 570,
 860469: 571,
 860501: 572,
 860528: 573,
 860703: 574,
 860776: 575,
 860890: 576,
 860975: 577,
 861272: 578,
 861279: 579,
 861282: 580,
 861341: 581,
 861345: 582,
 861419: 583,
 861445: 584,
 861485: 585,
 861494: 586,
 861603: 587,
 861615: 588,
 861701: 589,
 861792: 590,
 861819: 591,
 861821: 592,
 862010: 593,
 862070: 594,
 862139: 595,
 862152: 596,
 862276: 597,
 862283: 598,
 862308: 599,
 862335: 600,
 862349: 601,
 862488: 602,
 862535: 603,
 862582: 604,
 862651: 605,
 862682: 606,
 862725: 607,
 862732: 608,
 862799: 609,
 862822: 610,
 862826: 611,
 862854: 612,
 862981: 613,
 863030: 614,
 863332: 615,
 863337: 616,
 863447: 617,
 863449: 618,
 863479: 619,
 863506: 620,
 863529: 621,
 863632: 622,
 863664: 623,
 863762: 624,
 863802: 625,
 863885: 626,
 864033: 627,
 864048: 628,
 864143: 629,
 864279: 630,
 864312: 631,
 864335: 632,
 864532: 633,
 864615: 634,
 864774: 635,
 864805: 636,
 864893: 637,
 864964: 638,
 865026: 639,
 865156: 640,
 865174: 641,
 865178: 642,
 865196: 643,
 865216: 644,
 865303: 645,
 865330: 646,
 865456: 647,
 865501: 648,
 865511: 649,
 865528: 650,
 865569: 651,
 865705: 652,
 865885: 653,
 865891: 654,
 865992: 655,
 866043: 656,
 866140: 657,
 866149: 658,
 866172: 659,
 866177: 660,
 866211: 661,
 866227: 662,
 866292: 663,
 866355: 664,
 866528: 665,
 866540: 666,
 866548: 667,
 866573: 668,
 866755: 669,
 866778: 670,
 866871: 671,
 866878: 672,
 866950: 673,
 867020: 674,
 867138: 675,
 867140: 676,
 867188: 677,
 867272: 678,
 867469: 679,
 867519: 680,
 867547: 681,
 867607: 682,
 867622: 683,
 867648: 684,
 867667: 685,
 867668: 686,
 867931: 687,
 868015: 688,
 868075: 689,
 868147: 690,
 868275: 691,
 868319: 692,
 868401: 693,
 868415: 694,
 868423: 695,
 868539: 696,
 868546: 697,
 868548: 698,
 868645: 699,
 868683: 700,
 868727: 701,
 868745: 702,
 868764: 703,
 868888: 704,
 868909: 705,
 868953: 706,
 868971: 707,
 869024: 708,
 869047: 709,
 869150: 710,
 869177: 711,
 869195: 712,
 869344: 713,
 869573: 714,
 869577: 715,
 869604: 716,
 869622: 717,
 869728: 718,
 869857: 719,
 869868: 720,
 869900: 721,
 870018: 722,
 870128: 723,
 870195: 724,
 870211: 725,
 870315: 726,
 870327: 727,
 870420: 728,
 870428: 729,
 870515: 730,
 870547: 731,
 870559: 732,
 870608: 733,
 870780: 734,
 870894: 735,
 870927: 736,
 870929: 737,
 870933: 738,
 870980: 739,
 871061: 740,
 871097: 741,
 871162: 742,
 871188: 743,
 871252: 744,
 871279: 745,
 871337: 746,
 871433: 747,
 871440: 748,
 871570: 749,
 871611: 750,
 871636: 751,
 871680: 752,
 871722: 753,
 871754: 754,
 871756: 755,
 871876: 756,
 871909: 757,
 872021: 758,
 872137: 759,
 872177: 760,
 872342: 761,
 872382: 762,
 872417: 763,
 872642: 764,
 872702: 765,
 872729: 766,
 872762: 767,
 872827: 768,
 873044: 769,
 873056: 770,
 873178: 771,
 873203: 772,
 873474: 773,
 873527: 774,
 873550: 775,
 873622: 776,
 873627: 777,
 873654: 778,
 873782: 779,
 873874: 780,
 873887: 781,
 873902: 782,
 873916: 783,
 873964: 784,
 874058: 785,
 874061: 786,
 874149: 787,
 874255: 788,
 874617: 789,
 874643: 790,
 874733: 791,
 874736: 792,
 874972: 793,
 875392: 794,
 875694: 795,
 875979: 796,
 876232: 797,
 876504: 798,
 876521: 799,
 876548: 800,
 876593: 801,
 876695: 802,
 876806: 803,
 876932: 804,
 877175: 805,
 877193: 806,
 877226: 807,
 877310: 808,
 877337: 809,
 877358: 810,
 877447: 811,
 877455: 812,
 877498: 813,
 877935: 814,
 878026: 815,
 878222: 816,
 878234: 817,
 878285: 818,
 878290: 819,
 878302: 820,
 878398: 821,
 878442: 822,
 878445: 823,
 878611: 824,
 878637: 825,
 878710: 826,
 878715: 827,
 878739: 828,
 878775: 829,
 878857: 830,
 878880: 831,
 878996: 832,
 879045: 833,
 879143: 834,
 879152: 835,
 879393: 836,
 879445: 837,
 879504: 838,
 879506: 839,
 879528: 840,
 879635: 841,
 879689: 842,
 879734: 843,
 879735: 844,
 879755: 845,
 879808: 846,
 879876: 847,
 879922: 848,
 879948: 849,
 880000: 850,
 880150: 851,
 880253: 852,
 880308: 853,
 880310: 854,
 880377: 855,
 880423: 856,
 880427: 857,
 880469: 858,
 880579: 859,
 880888: 860,
 880895: 861,
 881047: 862,
 881154: 863,
 881249: 864,
 881328: 865,
 881608: 866,
 881706: 867,
 881708: 868,
 881883: 869,
 881917: 870,
 882109: 871,
 882138: 872,
 882190: 873,
 882247: 874,
 882288: 875,
 882305: 876,
 882441: 877,
 882489: 878,
 882496: 879,
 882595: 880,
 882604: 881,
 882826: 882,
 882830: 883,
 882941: 884,
 883003: 885,
 883004: 886,
 883068: 887,
 883186: 888,
 883202: 889,
 883218: 890,
 883306: 891,
 883370: 892,
 883404: 893,
 883418: 894,
 883428: 895,
 883616: 896,
 883783: 897,
 883817: 898,
 883912: 899,
 883916: 900,
 883932: 901,
 883940: 902,
 883963: 903,
 884333: 904,
 884518: 905,
 884686: 906,
 884774: 907,
 884896: 908,
 884897: 909,
 884945: 910,
 885023: 911,
 885290: 912,
 885307: 913,
 885356: 914,
 885406: 915,
 885430: 916,
 885463: 917,
 885582: 918,
 885586: 919,
 885697: 920,
 885750: 921,
 885795: 922,
 885858: 923,
 885863: 924,
 885917: 925,
 886125: 926,
 886395: 927,
 886481: 928,
 886487: 929,
 886703: 930,
 886787: 931,
 886803: 932,
 886941: 933,
 886959: 934,
 886996: 935,
 887003: 936,
 887102: 937,
 887138: 938,
 887219: 939,
 887225: 940,
 887325: 941,
 887342: 942,
 887393: 943,
 887474: 944,
 887503: 945,
 887618: 946,
 887661: 947,
 887691: 948,
 887962: 949,
 887984: 950,
 888014: 951,
 888054: 952,
 888092: 953,
 888111: 954,
 888117: 955,
 888178: 956,
 888275: 957,
 888404: 958,
 888431: 959,
 888476: 960,
 888532: 961,
 888543: 962,
 888586: 963,
 888612: 964,
 888614: 965,
 888650: 966,
 888835: 967,
 889188: 968,
 889319: 969,
 889509: 970,
 889511: 971,
 889551: 972,
 889618: 973,
 889649: 974,
 889692: 975,
 889731: 976,
 889774: 977,
 889779: 978,
 889912: 979,
 889965: 980,
 889989: 981,
 890186: 982,
 890283: 983,
 890296: 984,
 890344: 985,
 890455: 986,
 890513: 987,
 890536: 988,
 890610: 989,
 890612: 990,
 890689: 991,
 890695: 992,
 890739: 993,
 890862: 994,
 890882: 995,
 890909: 996,
 890999: 997,
 891028: 998,
 891141: 999,
 ...}

Обучаем модель и получаем рекомендации

In [56]:
%%time

model = ItemItemRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей и количество потоков (ядер процессора)

## item-item recommender ожидает, что мы подадим в столбцах - user, в строках item. Поэтому транспонируем
model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

recs = model.recommend(userid=userid_to_id[2],  # userid - id от 0 до N
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, # кол-во рекомендаций 
                        filter_already_liked_items=False, # не рекомендуем то, что он уже покупал
                        filter_items=None, 
                        recalculate_user=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

Wall time: 1.02 s

Рассчитываем для каждого пользователя его рекомендации и добавляем к итоговой таблице сравнений метрик.

In [57]:
%%time

result['itemitem'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

Wall time: 101 ms

In [58]:
result.head(3)

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[35511, 984861, 8068454, 17169697, 1318175]","[904943, 6555362, 956294, 2022364, 822818]","[908368, 920755, 901067, 1130029, 1224424]","[879755, 1053690, 1106523, 1082185, 1004906]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]"

### Косинусное сходство и CosineRecommender

In [59]:
%%time

model = CosineRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=False)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

Wall time: 1.23 s

In [60]:
%%time

result['cosine'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

Wall time: 97.7 ms

In [61]:
result.head(3)

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[35511, 984861, 8068454, 17169697, 1318175]","[904943, 6555362, 956294, 2022364, 822818]","[908368, 920755, 901067, 1130029, 1224424]","[879755, 1053690, 1106523, 1082185, 1004906]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]"

### TF-IDF взвешивание и TFIDFRecommender

In [62]:
%%time

model = TFIDFRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=False)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

Wall time: 1.22 s

In [63]:
%%time

result['tfidf'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=False)])

Wall time: 115 ms

In [64]:
result.head(3)

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine,tfidf
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[35511, 984861, 8068454, 17169697, 1318175]","[904943, 6555362, 956294, 2022364, 822818]","[908368, 920755, 901067, 1130029, 1224424]","[879755, 1053690, 1106523, 1082185, 1004906]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 878996]"

### Оценки моделей по precision@5

In [65]:
for column in result.columns[2:]:
    print(column, round(result.apply(lambda x: precision_at_k(x[column], x['actual'],  5), axis=1).mean(), 5))

rand rec 0.00088
weighted log rand rec 0.0002
weighted sqrt rand rec 0.00362
weighted square rand rec 0.1285
popular rec 0.15524
itemitem 0.13692
cosine 0.13291
tfidf 0.13898

## Задание 3. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая их на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.
- Попробуйте стратегии ансамблирования изученных алгоритмов

**Попробуем улучишь precision, считая их на top 5000**

In [66]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id   n_sold
0   202291    35911
1   397896  1214994
2   420647   168661
3   480014   371107
4   545926    20134

In [67]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [68]:
%%time

items = top_5000

# создаём столбец рекомендаций: для каждой строчки user_id создаём случайные рекомендации
result['rand rec top 5000'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(2)

Wall time: 855 ms

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine,tfidf,rand rec top 5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1098844, 921406, 847790, 970202, 977873]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[9547021, 1048462, 1018631, 882288, 1137680]"

In [69]:
%%time

# Можно так делать, так как рекомендация не зависит от юзера
popular_recs = top_5000[:5]

result['popular rec top 5000'] = result['user_id'].apply(lambda x: popular_recs)
result.head(3)

Wall time: 2 ms

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine,tfidf,rand rec top 5000,popular rec top 5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1098844, 921406, 847790, 970202, 977873]","[6534178, 6533889, 6534166, 6544236, 1404121]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[9547021, 1048462, 1018631, 882288, 1137680]","[6534178, 6533889, 6534166, 6544236, 1404121]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[35511, 984861, 8068454, 17169697, 1318175]","[904943, 6555362, 956294, 2022364, 822818]","[908368, 920755, 901067, 1130029, 1224424]","[879755, 1053690, 1106523, 1082185, 1004906]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 878996]","[6514160, 1076608, 870608, 6034966, 962671]","[6534178, 6533889, 6534166, 6544236, 1404121]"

In [70]:
# функция для генерации items и массива вероятностей
def data_prep_top_5000(df, func):
    # создаём список уникальных товаров
    items = df.item_id.unique()
    # print('items 1 = ', items, items.size)

    # переводим в np массив
    items = np.array(items)[:5000]           # < == фильтруем 5000

    # создаём датафрейм с количеством каждого товара
    count_df = df.groupby('item_id').item_id.agg(['count'])

    # добавляем в датафрейм строчку с пересчитанными товарами в веса
    count_df['weight'] = func(count_df['count'] / count_df['count'].sum())
    # print(count_df.size)

    # перводим items в датафрейм (сохраняем порядок item'ов)
    items_df = pd.DataFrame(items, columns = ['item_id'])
    # print('items_df = ', items_df)

    # создаём датафрейм item - вероятность с сохранением порядка item'ов
    probability_df = pd.merge(items_df, count_df, on='item_id', how='left').head(5000) # <= фильтруем 5000

    # заполняем пустые item's нулями
    probability_df.fillna(value=0, inplace=True)
    # print('probability_df = ', probability_df, probability_df.size)

    # берём столбец вероятностей и переводим его в numpy-array
    p = np.array(probability_df.to_numpy()[:, 2])

    # нормализация вероятностей для того чтобы они  были = 1
    p /= p.sum()  # normalize
    
    return items, p

In [71]:
%%time

# ВЕСА - ЛОГАРИФМ от количества покупок
items, p = data_prep_top_5000(data_train, np.log)

# создаём столбец рекомендаций: для каждой строчки user_id создаём случайные рекомендации
result['weighted log rand rec top 5000'] = \
        result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

result.head(3)

Wall time: 339 ms

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine,tfidf,rand rec top 5000,popular rec top 5000,weighted log rand rec top 5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1098844, 921406, 847790, 970202, 977873]","[6534178, 6533889, 6534166, 6544236, 1404121]","[895680, 1121367, 894968, 1005609, 947865]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[9547021, 1048462, 1018631, 882288, 1137680]","[6534178, 6533889, 6534166, 6544236, 1404121]","[889511, 8090550, 912902, 995628, 995965]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[35511, 984861, 8068454, 17169697, 1318175]","[904943, 6555362, 956294, 2022364, 822818]","[908368, 920755, 901067, 1130029, 1224424]","[879755, 1053690, 1106523, 1082185, 1004906]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 878996]","[6514160, 1076608, 870608, 6034966, 962671]","[6534178, 6533889, 6534166, 6544236, 1404121]","[833940, 950894, 823356, 1012913, 967065]"

In [72]:
%%time

# ВЕСА - КВАДРАТНЫЙ КОРЕНЬ от количества покупок
items, p = data_prep_top_5000(data_train, np.sqrt)

# создаём столбец рекомендаций: для каждой строчки user_id создаём случайные рекомендации
result['weighted sqrt rand rec top 5000'] = \
            result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

result.head(2)

Wall time: 323 ms

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine,tfidf,rand rec top 5000,popular rec top 5000,weighted log rand rec top 5000,weighted sqrt rand rec top 5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1098844, 921406, 847790, 970202, 977873]","[6534178, 6533889, 6534166, 6544236, 1404121]","[895680, 1121367, 894968, 1005609, 947865]","[1059236, 1118598, 893651, 951412, 864964]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[9547021, 1048462, 1018631, 882288, 1137680]","[6534178, 6533889, 6534166, 6544236, 1404121]","[889511, 8090550, 912902, 995628, 995965]","[845814, 836286, 6979160, 1006555, 973630]"

In [73]:
%%time

# your_code

# ВЕСА - КВАДРАТ от количества покупок
items, p = data_prep_top_5000(data_train, np.square)

# создаём столбец рекомендаций: для каждой строчки user_id создаём случайные рекомендации
result['weighted square rand rec top 5000'] = \
            result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

result.head(2)

Wall time: 439 ms

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine,tfidf,rand rec top 5000,popular rec top 5000,weighted log rand rec top 5000,weighted sqrt rand rec top 5000,weighted square rand rec top 5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1098844, 921406, 847790, 970202, 977873]","[6534178, 6533889, 6534166, 6544236, 1404121]","[895680, 1121367, 894968, 1005609, 947865]","[1059236, 1118598, 893651, 951412, 864964]","[999999, 981760, 893018, 844179, 1082185]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[9547021, 1048462, 1018631, 882288, 1137680]","[6534178, 6533889, 6534166, 6544236, 1404121]","[889511, 8090550, 912902, 995628, 995965]","[845814, 836286, 6979160, 1006555, 973630]","[999999, 1029743, 883404, 1082185, 1127831]"

In [74]:
for column in result.columns[2:]:
    print(column, round(result.apply(lambda x: precision_at_k(x[column], x['actual'],  5), axis=1).mean(), 5))

rand rec 0.00088
weighted log rand rec 0.0002
weighted sqrt rand rec 0.00362
weighted square rand rec 0.1285
popular rec 0.15524
itemitem 0.13692
cosine 0.13291
tfidf 0.13898
rand rec top 5000 0.00676
popular rec top 5000 0.04613
weighted log rand rec top 5000 0.00529
weighted sqrt rand rec top 5000 0.01166
weighted square rand rec top 5000 0.10754

**Считая бейзлайны на 5000 товарах, метрики улучшились**

**Попробуем улучшить разные варианты ItemItemRecommender, выбирая число соседей  𝐾.**

In [75]:
%%time

for K in tqdm(range(1, 11)):
    model = ItemItemRecommender(K=K, num_threads=8) # K - кол-во билжайших соседей и количество потоков (ядер процессора)

    ## item-item recommender ожидает, что мы подадим в столбцах - user, в строках item. Поэтому транспонируем
    model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=False)

    recs = model.recommend(userid=userid_to_id[2],  # userid - id от 0 до N
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, # кол-во рекомендаций 
                        filter_already_liked_items=False, # не рекомендуем то, что он уже покупал
                        filter_items=None, 
                        recalculate_user=True)
    
    result[f'itemitem K={K}'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:09<00:00,  1.07it/s]

Wall time: 9.33 s

In [76]:
for column in result.columns[2:]:
    print(column, round(result.apply(lambda x: precision_at_k(x[column], x['actual'],  5), axis=1).mean(), 5))

rand rec 0.00088
weighted log rand rec 0.0002
weighted sqrt rand rec 0.00362
weighted square rand rec 0.1285
popular rec 0.15524
itemitem 0.13692
cosine 0.13291
tfidf 0.13898
rand rec top 5000 0.00676
popular rec top 5000 0.04613
weighted log rand rec top 5000 0.00529
weighted sqrt rand rec top 5000 0.01166
weighted square rand rec top 5000 0.10754
itemitem K=1 0.17999
itemitem K=2 0.19201
itemitem K=3 0.18609
itemitem K=4 0.14496
itemitem K=5 0.13692
itemitem K=6 0.14202
itemitem K=7 0.14486
itemitem K=8 0.14721
itemitem K=9 0.14848
itemitem K=10 0.15093

**Видим, что лучшая метрика при K=2.**

Далее идут попытки выполнить остальные пункты ДЗ.

In [77]:
recs

[(2381, 78679.0),
 (3408, 72173.0),
 (2148, 60376.0),
 (3587, 46199.0),
 (300, 42769.0)]

In [78]:
result.head(2)

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine,tfidf,...,itemitem K=1,itemitem K=2,itemitem K=3,itemitem K=4,itemitem K=5,itemitem K=6,itemitem K=7,itemitem K=8,itemitem K=9,itemitem K=10
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]",...,"[999999, 1082185, 1029743, 995785, 1004906]","[999999, 1082185, 995242, 1029743, 840361]","[999999, 1082185, 981760, 995242, 1029743]","[999999, 1082185, 981760, 995242, 1127831]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]",...,"[999999, 1082185, 1098066, 6534178, 1127831]","[999999, 1082185, 1098066, 6534178, 826249]","[999999, 1082185, 981760, 1098066, 6534178]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]"

In [116]:
result.drop(['test'], axis=1)
result.head(5)

,user_id,actual,rand rec,weighted log rand rec,weighted sqrt rand rec,weighted square rand rec,popular rec,itemitem,cosine,tfidf,...,itemitem K=2,itemitem K=3,itemitem K=4,itemitem K=5,itemitem K=6,itemitem K=7,itemitem K=8,itemitem K=9,itemitem K=10,test
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1001618, 9298551, 107051, 9878915, 1092149]","[9525357, 1253602, 946707, 878651, 6537551]","[1097957, 1119942, 1063594, 1044877, 1075283]","[12731808, 1082185, 6534178, 859075, 6533765]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]",...,"[999999, 1082185, 995242, 1029743, 840361]","[999999, 1082185, 981760, 995242, 1029743]","[999999, 1082185, 981760, 995242, 1127831]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]","[821867, 834484, 856942, 865456, 889248, 90795..."
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[840839, 12187908, 865018, 1086629, 1068325]","[6961668, 2846160, 5567328, 66469, 1051542]","[856716, 106963, 1013321, 941769, 611498]","[965842, 1029743, 1082185, 826249, 845193]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]",...,"[999999, 1082185, 1098066, 6534178, 826249]","[999999, 1082185, 981760, 1098066, 6534178]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]","[835476, 851057, 872021, 878302, 879948, 90963..."
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[35511, 984861, 8068454, 17169697, 1318175]","[904943, 6555362, 956294, 2022364, 822818]","[908368, 920755, 901067, 1130029, 1224424]","[879755, 1053690, 1106523, 1082185, 1004906]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 878996]",...,"[999999, 1082185, 981760, 995242, 1029743]","[999999, 1082185, 981760, 995242, 1029743]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 995242, 1098066]","[999999, 1082185, 981760, 995242, 1098066]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]","[920308, 926804, 946489, 1006718, 1017061, 107..."
3,7,"[840386, 889774, 898068, 909714, 929067, 95347...","[2612148, 7177159, 1383670, 1117401, 1372140]","[944169, 1148035, 13115533, 1888133, 937095]","[6423998, 1035390, 1011303, 940700, 969932]","[1029743, 1022254, 1082185, 833025, 1053690]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 981760, 999999, 1127831, 961554]","[1082185, 981760, 1127831, 999999, 961554]",...,"[999999, 1082185, 995242, 1029743, 826249]","[999999, 1082185, 981760, 995242, 1029743]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 995242, 1098066]","[999999, 1082185, 981760, 995242, 1098066]","[840386, 889774, 898068, 909714, 929067, 95347..."
4,8,"[835098, 872137, 910439, 924610, 992977, 10412...","[12949813, 852863, 920920, 9526839, 995188]","[15716785, 5980969, 975029, 9491531, 838258]","[9527161, 843013, 1051211, 913785, 995311]","[859075, 1029743, 1082185, 928049, 6534178]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 1098066]","[1082185, 981760, 999999, 1098066, 826249]","[1082185, 981760, 999999, 1098066, 826249]",...,"[999999, 1082185, 981760, 995242, 1029743]","[999999, 1082185, 981760, 6534178, 995242]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 1127831, 1098066]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 995242]","[835098, 872137, 910439, 924610, 992977, 10412..."

In [ ]:
for column in result.columns[2:]:
    result['test'] += result[column]

result.head(5)

In [143]:
def n_most_freq_elem(arr, n):
 
    um = {}
    for i in range(len(arr)):
        if arr[i] in um:
            um[arr[i]] += 1
        else:
            um[arr[i]] = 1
    a = [0] * (len(um))
    j = 0
    for i in um:
        a[j] = [i, um[i]]
        j += 1
    a = sorted(a, key=lambda x: x[0],
               reverse=True)
    a = sorted(a, key=lambda x: x[1],
               reverse=True)
 
    # display the top k numbers
    print(n, "numbers with most occurrences are:")
    
    elems = []
    for i in range(n):
        print(a[i][0], end=" ")
        elems.append(a[i][0])
    #print('elems=', elems)
    return elems
        
    
list_1 = [1,1,1,1,1,2,2,2,3,3,3,4,4,5]
n_most_freq_elem(list_1, 3)

3 numbers with most occurrences are:
1 3 2

[1, 3, 2]

In [ ]:
result['stack'] = result['test'].apply(lambda x: n_most_freq_elem(result['test'], 5))
reault.head(5)

In [ ]:
result['all items'] = \
            result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

In [ ]:
for column in result.columns[2:]:

    result['voting'] = result[column].append(column)

result.head(2)

In [ ]:
result['weighted square rand rec top 5000'] = \
            result['user_id'].apply(lambda x: weighted_random_recommendation(items, p, n=5))

In [ ]:
result.head(2)

## Задание 4. Улучшение детерминированных алгоритмов
На семинаре мы рассматривали

Далее $U \equiv N_i(u) $

$$r_{u,i} =  \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)r_{v, i}$$
$$ S = \sum\limits_{v \in U} \operatorname{sim}(u,v)$$

Предлагается улучшить эту формулу и учесть средние предпочтения всех пользователей

$$r_{u,i} = \mu + \bar{r_u} + \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)(r_{v, i}-\bar{r_{v}} - \mu)$$

Какие смысл имееют $ \mu $ и $ \bar{r_u}$ ?

Реализуйте алгоритм, прогнозирующий рейтинги на основе данной формулы, на numpy (векторизованно!)

В качестве схожести возьмите CosineSimilarity.

Примените к user_item_matrix. В качестве рейтингов возьмите количество или стоимость купленного товара. 
Данный алгоритм предсказывает рейтинги. Как на основании предсказанных рейтингов предсказать факт покупки?

Предложите вариант.
Посчитайте accuracy@5 и сравните с алгоритмами, разобранными на вебинаре.